<h1 mat-dialog-title>اضافة صورة</h1>
<div mat-dialog-content>
            <div >
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <h2 id="jhi-attachment-heading">اضافة صورة</h2>
                    <div>
                        <jhi-alert-error></jhi-alert-error>

                        <div class="form-group">
                            <label class="form-control-label" for="field_file">الصورة</label>
                            <div>
                                <div *ngIf="editForm.get('image').value" class="form-text text-danger clearfix">
                                    <span class="pull-left">{{editForm.get('imageContentType').value}}, {{byteSize(editForm.get('image').value)}}</span>
                                </div>
                                <input type="file" id="file_file" (change)="setFileData($event, 'image')" accept="image/*"/>
                            </div>
                            <input type="hidden" class="form-control" name="file" id="field_file"
                                   formControlName="file"/>
                            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                                   formControlName="fileContentType" />
                        </div>

                    </div>
                </form>
            </div>
<div mat-dialog-actions>
    <button mat-button color="warn"(click)="onNoClick()">الغاء</button>
    <button mat-button (click)="save()" [mat-dialog-close]="data">حفظ</button>

</div>


