<div class="container-fluid">

    <div class="d-flex align-items-center">
        <div>
            <form>
                <div>
                    <div class="uploader-border" (click)="fileInput.click()">
                        <img *ngIf="previewUrl" class="center-cropped-uploader" [src]="previewUrl">

                        <div class="d-flex h-100">
                            <button *ngIf="!isLoading; else showLoader" mat-button class="m-auto"
                                style="background: #ffffffa2">
                                <mat-icon>
                                    image
                                </mat-icon>
                                <span>إستعراض</span>
                            </button>

                            <ng-template #showLoader>
                                <mat-spinner diameter="50" strokeWidth="3" class="m-auto"></mat-spinner>
                            </ng-template>
                        </div>

                    </div>
                    <input #fileInput hidden type="file" [accept]="accept" (change)="setFileData($event)" />
                </div>
            </form>

        </div>
        <mat-error class="mx-3" *ngIf="exceedsLimit">حجم الملف يجب أن يكون أقل من 1.5 ميقا</mat-error>
    </div>

</div>
