<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="category">
            <h2><span>التصنيف</span> {{category.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>الاسم</span></dt>
                <dd>
                    <span>{{category.name}}</span>
                </dd>
                <dt><span>الصورة</span></dt>
                <dd>
                    <div *ngIf="category.image">
                        <a (click)="openFile(category.imageContentType, category.image)">
                            <img [src]="'data:' + category.imageContentType + ';base64,' + category.image" style="max-width: 100%;" alt="category image"/>
                        </a>
                        {{category.imageContentType}}, {{byteSize(category.image)}}
                    </div>
                </dd>
                <dt><span>مفعل</span></dt>
                <dd>
                    <span>{{category.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> رجوع</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> تعديل</span>
            </button>
        </div>
    </div>
</div>
