<mat-dialog-title>
    <h5>تنبيه!</h5>
</mat-dialog-title>
<mat-divider></mat-divider>
<mat-dialog-content>
    <h5 class="pt-3">{{data.message}}</h5>
</mat-dialog-content>
<mat-dialog-actions class="mt-3" dir="ltr">
    <button *ngIf="data.mode === 'confirm'" mat-button color="primary" (click)="confirm()">موافق</button>
    <button mat-button class="ml-2" (click)="clear()">{{data.cancelLabel}}</button>
</mat-dialog-actions>
