<div class="mb-5 entity-container">
    <h2 id="page-heading">
        <span>Chats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chat"
                [routerLink]="['/chat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Create a new Chat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="chats?.length === 0">
        <span>No chats found</span>
    </div>
    <div class="table-responsive" *ngIf="chats?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="id"><span>#</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="details"><span>الرسالة</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="storeName"><span>المتجر</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="userLogin"><span>الزبون</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th><span>التاريخ</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let chat of chats ;trackBy: trackId">
                <td><a [routerLink]="['/chat', chat.id, 'view' ]">{{chat.id}}</a></td>
                <td>{{chat.details}}</td>
                <td>
                    <div *ngIf="chat.storeId">
                        <a [routerLink]="['/store', chat.storeId , 'view' ]">{{chat.storeName}}</a>
                    </div>
                </td>
                <td>
                    {{chat.userLogin}}
                </td>
                <td>
                    {{chat.createdDate}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/chat', chat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat', chat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat', { outlets: { popup: chat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
