<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="chat">
            <h2><span>Chat</span> {{chat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Details</span></dt>
                <dd>
                    <span>{{chat.details}}</span>
                </dd>
                <dt><span>Store</span></dt>
                <dd>
                    <div *ngIf="chat.storeId">
                        <a [routerLink]="['/store', chat.storeId, 'view']">{{chat.storeName}}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{chat.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chat', chat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
