<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="room">
            <h2><span>القاعة</span> {{room.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>اسم القاعة</span></dt>
                <dd>
                    <span>{{room.name}}</span>
                </dd>
                <dt><span>اقصى عدد للحضور</span></dt>
                <dd>
                    <span>{{room.maxAttendees}}</span>
                </dd>
                <dt><span>السعر الاضافي</span></dt>
                <dd>
                    <span>{{room.price}}</span>
                </dd>
                <dt><span>متاح</span></dt>
                <dd>
                    <span>{{room.active}}</span>
                </dd>
                <dt><span>الصالة</span></dt>
                <dd>
                    <div *ngIf="room.hallId">
                        <a [routerLink]="['/hall', room.hallId, 'view']">{{room.hallName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> رجوع</span>
            </button>

            <button type="button"
                    [routerLink]="['/room', room.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> تعديل</span>
            </button>
        </div>
    </div>
</div>
