<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">


        <div class="mt-1 ml-1 d-flex align-items-center">

            <mat-form-field class="mr-auto" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']">
                <mat-label>اختر صالة الأفراح</mat-label>
                <mat-select  >
                    <mat-option *ngFor="let hall of halls" [value]="hall.id" (onSelectionChange)="loadAppointments($event,hall)">
                        {{hall.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row text-center mt-4">
            <div class="col-md-4">
                <div class="btn-group">
                    <div
                        class="btn btn-primary"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        رجوع
                    </div>
                    <div
                        class="btn btn-outline-secondary"
                        mwlCalendarToday
                        [(viewDate)]="viewDate">
                        اليوم
                    </div>
                    <div
                        class="btn btn-primary"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        التالي
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'ar' }}</h3>
            </div>
        </div>
        <br/>
        <div *ngIf="reservations">
            <div [ngSwitch]="view" >
                <mwl-calendar-month-view
                    [weekStartsOn]="weekStartsOn"
                    locale="ar"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked', $event.event)">
                </mwl-calendar-month-view>

            </div>
        </div>

    </div>
</div>


<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{modalData?.event.start | date: 'yyyy-MM-dd'}}</h5>
    </div>
    <div class="modal-body">
        <div>
            <pre>{{ modalData?.event.title }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
            موافق
        </button>
    </div>
</ng-template>
