<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="favoriteItem">
            <h2><span>Favorite Item</span> {{favoriteItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Item</span></dt>
                <dd>
                    <div *ngIf="favoriteItem.itemId">
                        <a [routerLink]="['/item', favoriteItem.itemId, 'view']">{{favoriteItem.itemName}}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{favoriteItem.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/favorite-item', favoriteItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
