<div>
    <h2 id="page-heading">
        <span>Favorite Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-favorite-item" [routerLink]="['/favorite-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Favorite Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="favoriteItems?.length === 0">
        <span>No favoriteItems found</span>
    </div>
    <div class="table-responsive" *ngIf="favoriteItems?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itemName"><span>Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let favoriteItem of favoriteItems ;trackBy: trackId">
                <td><a [routerLink]="['/favorite-item', favoriteItem.id, 'view' ]">{{favoriteItem.id}}</a></td>
                <td>
                    <div *ngIf="favoriteItem.itemId">
                        <a [routerLink]="['/item', favoriteItem.itemId , 'view' ]" >{{favoriteItem.itemName}}</a>
                    </div>
                </td>
                <td>
                    {{favoriteItem.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/favorite-item', favoriteItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/favorite-item', favoriteItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/favorite-item', { outlets: { popup: favoriteItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="favoriteItems?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
