<div class="entity-container">

    <div class="mat-elevation-z1 white-bg round-card mx-2  mb-5 mt-5 py-4">
        <mat-progress-bar *ngIf="isSaving" class="round-50 fill" mode="indeterminate"></mat-progress-bar>

        <h2 class="mx-5">
            تعديل الملف الشخصي
        </h2>


    </div>
</div>
