<div class="footer pb-5 pt-2 px-5">
    <div class="row mx-auto" style="width: 90%">

        <div class="col-12 text-lg-right mt-4 col-lg-4 text-center">
            <p>قم بتحميل التطبيق من</p>
            <div class="row">
                <img class="store-badge mx-auto col-8 col-sm-6" src="../../../content/images/play-store-badge.png"
                    alt="google-play-badge">

                <img class="store-badge col-8 mx-auto col-sm-6 mt-2 mt-sm-0 "
                    src="../../../content/images/app-store-badge.png" alt="app-store-badge">
            </div>

        </div>

        <div class="col-12   mt-4 col-lg-4 text-center">
            <h5>تابعنا على مواقع التواصل الإجتماعي</h5>
            <div class="mt-3">
                <a href="https://www.facebook.com/">
                    <mat-icon color="accent" svgIcon="facebook_big"></mat-icon>
                </a>

                <a class="mx-3" href="https://twitter.com/">
                    <mat-icon svgIcon="twitter"></mat-icon>
                </a>

                <a class="" href="https://www.linkedin.com/">
                    <mat-icon svgIcon="linkedin"></mat-icon>
                </a>

            </div>
        </div>

        <div class="col-12 d-flex text-lg-right mt-4 col-lg-4 text-center">
            <div class="mx-auto">
                <h5>للتواصل</h5>
                <div class=" mt-3 mb-0 justify-contents-center">
                    <mat-icon class="icon-size-18 ml-3">phone</mat-icon>
                    <span dir="ltr">+218-910000000</span>
                </div>

                <div class=" mx-0">
                    <mat-icon class="icon-size-18 ml-3">email</mat-icon>
                    <span dir="ltr">info@bridal.com.ly</span>
                </div>
            </div>

        </div>


    </div>
    <mat-divider class="my-3"></mat-divider>
    <div class="row">
        <span class="mx-auto">جميع الحقوق محفوظة Bridal Ly © 2020 </span>
    </div>
</div>
