<div class="entity-container">

    <div *jhiHasAnyAuthority="['ROLE_ADMIN' ]">
        <div  class="row white-bg">
            <div class="mat-elevation-z1 p-3 round-card col-6">
                <h5 class="my-2">الحجوزات في كل شهر</h5>
                <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="showLegends"
                        chartType="bar" ></canvas>

            </div>

            <div class="mat-elevation-z1 p-3 round-card col-6">
                <h5 class="my-2">الطلبات حسب الحالة</h5>
                <canvas *ngIf="doughnutChartData && doughnutChartLabels" baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN']" class="row align-items-center mt-3 ">
            <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col white-bg">
                <div class="d-flex flex-column">
                    <h3 *ngIf="reservationCount" class="m-0">{{reservationCount}}</h3>
                    <p class="m-0">عدد الحجوزات</p>
                </div>
                <mat-icon class="big-icon mr-auto" svgIcon="done"></mat-icon>
            </div>

            <span class="mx-2"></span>

            <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col white-bg">
                <div class="d-flex flex-column">
                    <h3 *ngIf="hallsCount" class="m-0">{{hallsCount}}</h3>
                    <p class="m-0">عدد الصالات</p>
                </div>
                <mat-icon class="big-icon mr-auto" svgIcon="clock"></mat-icon>
            </div>
            <span class="mx-2"></span>

            <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col white-bg">
                <div class="d-flex flex-column">
                    <h3 *ngIf="storesCount" class="m-0">{{storesCount}}</h3>
                    <p class="m-0">عدد المتاجر</p>
                </div>
                <mat-icon class="big-icon mr-auto" svgIcon="cancel"></mat-icon>
            </div>

        </div>


        <div *jhiHasAnyAuthority="['ROLE_HALL']" class="row align-items-center mt-3 ">
            <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col white-bg">
                <div class="d-flex flex-column">
                    <h3 *ngIf="reservationStateData[0]" class="m-0">{{reservationStateData[0]}}</h3>
                    <p class="m-0"> عدد الحجوزات المبدئية </p>
                </div>
                <mat-icon class="big-icon mr-auto" svgIcon="clock"></mat-icon>
            </div>

            <span class="mx-2"></span>

            <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col white-bg">
                <div class="d-flex flex-column">
                    <h3 *ngIf="reservationStateData[1]" class="m-0">{{reservationStateData[1]}}</h3>
                    <p class="m-0"> عدد الحجوزات المؤكدة </p>
                </div>
                <mat-icon class="big-icon mr-auto" svgIcon="done"></mat-icon>
            </div>
            <span class="mx-2"></span>

            <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col white-bg">
                <div class="d-flex flex-column">
                    <h3 *ngIf="reservationStateData[2]" class="m-0">{{reservationStateData[2]}}</h3>
                    <p class="m-0"> عدد الحجوزات الملغية </p>
                </div>
                <mat-icon class="big-icon mr-auto" svgIcon="cancel"></mat-icon>
            </div>

        </div>

    </div>


    <!-- <div class="col-md-6" style="margin-bottom: 10px">
        <table class="table table-responsive table-condensed">
            <tr>
                <th *ngFor="let label of lineChartLabels">{{label}}</th>
            </tr>
            <tr *ngFor="let d of lineChartData">
                <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
            </tr>
        </table>
        <button (click)="randomize()">CLICK</button>
    </div> -->
</div>
