<div class="mb-5 entity-container">
    <div class=" ml-1 d-flex align-items-center">
        <button *jhiHasAnyAuthority="['ROLE_ADMIN']" class="ml-1" mat-raised-button color="primary" [routerLink]="['/notification/new']">
            <mat-icon>add</mat-icon>
            ارسال اشعار
        </button>

        <form class="col-sm-8 col-lg-5">
            <mat-form-field class="mat-search-box" appearance="stander" floatLabel="never">
                <button mat-icon-button matPrefix type="submit" (click)="search(currentSearch)">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="بحث" matInput [(ngModel)]="currentSearch" name="currentSearch">

                <button color="warn" matSuffix mat-icon-button (click)="clear()" *ngIf="currentSearch">
                    <mat-icon>clear</mat-icon>
                </button>

            </mat-form-field>
        </form>
    </div>

    <div class="col p-0 mt-3 min-width mat-elevation-z0 round-card"
         *ngIf="notifications && notifications.length; else emptyContent;">
        <mat-progress-bar *ngIf="isLoading" class="round-50 mt-2 fill" mode="indeterminate"></mat-progress-bar>

        <table class="col mat-table" matSort (matSortChange)="sortData($event)">
            <thead>
            <tr>
                <th mat-sort-header="id"><span>#</span></th>
                <th mat-sort-header="title"><span>العنوان</span></th>
                <th mat-sort-header="description"><span>التفاصيل</span></th>
                <th>ارسل في </th>
                <th mat-sort-header="userLogin"><span>ارسل الى</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notification of notifications ;trackBy: trackId">
                <td><a [routerLink]="['/notification', notification.id, 'view' ]">{{notification.id}}</a></td>
                <td>{{notification.title}}</td>
                <td>{{notification.description}}</td>
                <td>
                    {{notification.userLogin}}
                </td>
                <td>{{notification.createdDate | date:'yyyy-MM-dd'}}</td>

                <td class="text-left">
                    <div>
                        <button type="submit" [routerLink]="['/notification', notification.id, 'view' ]" mat-button>
                            <mat-icon class="ml-2">remove_red_eye</mat-icon>
                            عرض
                        </button>
                        <mat-menu #appMenu="matMenu" overlapTrigger="false" xPosition="before">
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-menu-item (click)="delete(notification.id)">
                                <mat-icon class="ml-2">delete</mat-icon>
                                حذف
                            </button>
                        </mat-menu>
                        <button mat-icon-button
                                [matMenuTriggerFor]="appMenu" class="ml-1">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 15, 25]" [pageIndex]="page" (page)="loadPage($event)" showFirstLastButtons></mat-paginator>

    </div>
    <ng-template #emptyContent>
        <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
    </ng-template>
</div>
