<div class="entity-container">
    <div class="mat-elevation-z1 white-bg round-card  mt-5 pb-4">
        <div class="col-8">
            <form name="editForm" role="form" novalidate >
                <h2 id="jhi-zone-heading">ارسال اشعار</h2>
                <div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_name">العنوان</label>
                        <input [(ngModel)]="title" type="text" class="form-control" name="name" id="field_name"/>

                    </div>

                    <div class="form-group">
                        <textarea  rows="3" placeholder="التفاصيل" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" required></textarea>
                        <i class='attachment'
                           (click)="toggled = !toggled"
                           [(emojiPickerIf)]="toggled"
                           [emojiPickerDirection]="'top'"
                           (emojiPickerSelect)="handleSelection($event)">😄</i>
                    </div>


                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  >
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>الغاء</span>
                    </button>
                    <button type="submit" id="save-entity" (click)="sendNotification()"  class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>ارسال</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
