<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="notification">
            <h2><span>اشعار رقم</span> {{notification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>العنوان</span></dt>
                <dd>
                    <span>{{notification.title}}</span>
                </dd>
                <dt><span>التفاصيل</span></dt>
                <dd>
                    <span>{{notification.description}}</span>
                </dd>
                <dt><span>المستخدم المرسل اليه</span></dt>
                <dd>
                    {{notification.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> رجوع </span>
            </button>

        </div>
    </div>
</div>
