<div class="text-center col d-flex align-items-center" style="height:20vh">

    <div class="m-auto">
        <mat-spinner diameter="50" *ngIf="isLoading;else emptyContent"></mat-spinner>
        <ng-template #emptyContent>
            <div class="d-flex flex-column align-items-center">
                <div class="m-auto">
                    <div class=" text-center text-muted">
                        <span>لايوجد نتائج للعرض</span>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
</div>
