<div class="entity-container">
    <div class="mt-1 ml-1 d-flex align-items-center">
        <button class="ml-1" mat-raised-button color="primary" [routerLink]="['./new']" *jhiHasAnyAuthority="['ROLE_ADMIN']">
            <mat-icon>add</mat-icon>
            إضافة مستخدم جديد
        </button>
        <form class="col-sm-8 col-lg-5">
            <mat-form-field class="mat-search-box" appearance="stander" floatLabel="never">
                <button mat-icon-button matPrefix type="submit" (click)="search(currentSearch)">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="بحث" matInput [(ngModel)]="currentSearch" name="currentSearch">

                <button color="warn" matSuffix mat-icon-button (click)="clear()" *ngIf="currentSearch">
                    <mat-icon>clear</mat-icon>
                </button>

            </mat-form-field>
        </form>
        <mat-form-field>
            <mat-select placeholder="نوع المستخدمين" (selectionChange)="getUsers($event.value)">
                <mat-option value="ROLE_USER">الكل</mat-option>
                <mat-option value="ROLE_HALL">الصالات</mat-option>
                <mat-option value="ROLE_STORE">المتاجر</mat-option>
                <mat-option value="ROLE_ADMIN">مديرو النظام</mat-option>
                <mat-option value="ROLE_MANAGER">المشرفين</mat-option>

            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-12 p-0 mat-elevation-z1 round-card mt-3" *ngIf="users && users.length; else emptyContent">
        <table class=" col mat-table " matSort (matSortChange)="sortData($event)">
            <thead>
            <tr>
                <th mat-sort-header="id">
                    <span>ر.ت</span>
                </th>
                <th mat-sort-header="firstName">
                    <span>الاسم</span>
                </th>
                <th mat-sort-header="email">
                    <span>البريد الإلكتروني</span>
                </th>
                <th >
                    <span>رقم الهاتف</span>
                </th>
                <th mat-sort-header="activated">
                    <span>الحالة </span>
                </th>
                <th>
                    <span>الصلاحيات</span>
                </th>
                <th></th>
                <th mat-sort-header="createdDate">
                    <span>تاريخ الإنشاء</span>
                </th>
                <!-- <th mat-sort-header="lastModifiedBy">
                <span>أخر تعديل بواسطة</span>
            </th> -->
                <!-- <th mat-sort-header="lastModifiedDate">
                <span>تاريخ أخر تعديل</span>
            </th> -->
            </tr>
            </thead>
            <tbody *ngIf="users">
            <tr *ngFor="let user of users; trackBy: trackIdentity">
                <td>
                    <a [routerLink]="['./', user.login, 'view']">{{user.id}}</a>
                </td>
                <td>{{user.firstName}} </td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                    <button mat-stroked-button color="warn" (click)="setActive(user, true)"
                            *ngIf="!user.activated">غير مفعل</button>
                    <button mat-stroked-button color="primary" (click)="setActive(user, false)"
                            *ngIf="user.activated" [disabled]="currentAccount.login === user.login">مفعل</button>
                </td>
                <td>
                    <div *ngFor="let authority of user.authorities">
                        <span *ngIf="authority != 'ROLE_USER'" class="badge badge-info p-2">{{ authority | translateMe }}</span>
                    </div>
                </td>
                <td>{{user.createdDate | date:'yyyy-MM-dd'}}</td>
                <td class="text-left">
                    <div *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <button type="submit" [routerLink]="['./', user.login, 'view']" mat-button>
                            <mat-icon class="ml-2">remove_red_eye</mat-icon>
                            عرض
                        </button>
                        <mat-menu #appMenu="matMenu" overlapTrigger="false" xPosition="before">
                            <button mat-menu-item [routerLink]="['./', user.login, 'edit']">
                                <mat-icon class="ml-2">edit</mat-icon>
                                تعديل
                            </button>
                            <button (click)="delete(user.login)" mat-menu-item>
                                <mat-icon class="ml-2">delete</mat-icon>
                                حذف
                            </button>
                        </mat-menu>
                        <button mat-icon-button [disabled]="currentAccount.login === user.login"
                                [matMenuTriggerFor]="appMenu" class="ml-1">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="col white-bg">
            <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 15, 25, 50, 100]"
                           [pageIndex]="page" (page)="loadPage($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>

    <ng-template #emptyContent>
        <jhi-empty-content [isLoading]="isloading"></jhi-empty-content>
    </ng-template>

</div>
