<div class="entity-container">
    <div class="mat-elevation-z1 py-4 round-card white-bg p-3 ">

        <div class="col-12">
            <div *ngIf="user">
                <h4>
                    <span>المستخدم</span> {{user.login}}</h4>
                <jhi-boolean [value]="user.activated" textTrue="نشط" textFalse="غير مفعل">
                </jhi-boolean>

                <div class="row detail-row">
                    <!-- <div class="col-4">
                    <div class="text-muted">إسم الدخول </div>
                    <h6 matLine>{{user.login}}</h6>
                </div> -->

                    <div class="col-4">
                        <div class="text-muted">الإسم </div>
                        <h6 matLine>{{user.firstName}}</h6>
                    </div>

                    <div class="col-4">
                        <div class="text-muted">البريد الإلكتروني </div>
                        <h6 matLine>{{user.email}}</h6>
                    </div>

                    <div class="col-4">
                        <div class="text-muted"> رقم الهاتف </div>
                        <h6 matLine>{{user.phone}}</h6>
                    </div>

                </div>

                <div class="row detail-row">

                    <div class="col-4">
                        <div class="text-muted"> كون بوااسطة </div>
                        <h6 matLine>{{user.createdBy}}</h6>
                    </div>

                    <div class="col-4">
                        <div class="text-muted"> تاريخ الإنشاء </div>
                        <h6 matLine>{{user.createdDate | date:'yyyy-MM-dd hh:mm a'}}</h6>
                    </div>

                    <div class="col-4">
                        <div class="text-muted"> تاريخ أخز تعديل </div>
                        <h6 matLine>{{user.lastModifiedDate | date:'yyyy-MM-dd hh:mm a'}}</h6>
                    </div>
                </div>

                <div class="row detail-row">
                    <div class="text-muted col-12"> الصلاحيات </div>
                    <div class="col-12 mt-2">
                        <mat-chip-list color="primary" *ngIf="user.authorities">
                            <mat-chip *ngFor="let authority of user.authorities">
                                {{authority}}</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div class="text-left mt-3">

                    <button type="button" mat-button [routerLink]="['/admin/user-management', user.login, 'edit']">
                        تعديل
                    </button>

                    <button type="submit" (click)="previousState()" mat-button>
                        رجوع
                        <mat-icon>arrow_back_ios</mat-icon>
                    </button>

                </div>


            </div>
        </div>
    </div>
</div>
