<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <h2 id="page-heading">
            <span>تحرير مستخدم </span>
        </h2>

        <form class="mt-4" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

            <div class="row  mt-2">
                <mat-form-field appearance="outline" class=" col-12">
                    <mat-label>اسم المستخدم</mat-label>
                    <input [(ngModel)]="user.login" matInput type="text" required minlength="1" maxlength="50"
                        pattern="^[_'.@A-Za-z0-9-]*$" name="login">

                    <mat-error>
                        <span [hidden]="!editForm.controls.login?.errors?.required">
                            هذا الحقل يجب أن لايكون فارغاً
                        </span>
                        <span [hidden]="!editForm.controls.login?.errors?.minlength">
                            النص المدخل يجب أن يحتوي على حرف واحد على الأقل.
                        </span>
                        <span [hidden]="!editForm.controls.login?.errors?.maxlength">
                            النص المدخل يجب لايزيد عن 50 حرف .
                        </span>
                        <span [hidden]="!editForm.controls.login?.errors?.pattern">
                            إسم المستخدم يجب أن يتكون من حروف أو أرقام أو _
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row  mt-2">
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>الأسم</mat-label>
                    <input [(ngModel)]="user.firstName" matInput type="text" required minlength="1" maxlength="50"
                        name="firstName">
                    <mat-error>
                        <span [hidden]="!editForm.controls.firstName?.errors?.required">
                            هذا الحقل يجب أن لايكون فارغاً
                        </span>
                        <span [hidden]="!editForm.controls.firstName?.errors?.minlength">
                            النص المدخل يجب أن يحتوي على حرف واحد على الأقل.
                        </span>
                        <span [hidden]="!editForm.controls.firstName?.errors?.maxlength">
                            النص المدخل يجب لايزيد عن 50 حرف .
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row  mt-2">
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>البريد الإلكتروني</mat-label>
                    <input [(ngModel)]="user.email" matInput type="text" required email maxlength="100" name="email">
                    <mat-error>
                        <span [hidden]="!editForm.controls.email?.errors?.required">
                            هذا الحقل يجب أن لايكون فارغاً
                        </span>
                        <span [hidden]="!editForm.controls.email?.errors?.email">
                            الرجاء إدخال بريد إلكتروني صحيح
                        </span>

                        <span [hidden]="!editForm.controls.email?.errors?.maxlength">
                            النص المدخل يجب لايزيد عن 100 خانة .
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row  mt-2">
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>رقم الهاتف</mat-label>
                    <input [(ngModel)]="user.phone" matInput type="text" required maxlength="100" name="phone">
                    <mat-error>
                        <span [hidden]="!editForm.controls.phone?.errors?.required">
                            هذا الحقل يجب أن لايكون فارغاً
                        </span>

                        <span [hidden]="!editForm.controls.phone?.errors?.maxlength">
                            النص المدخل يجب لايزيد عن 100 خانة .
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row  mt-2" >
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>كلمة المرور الجديدة</mat-label>
                    <input [(ngModel)]="user.newPassword" matInput type="password" minlength="5" name="newPassword">
                </mat-form-field>
            </div>

            <div class="row  mt-2">
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>
                        الصلاحيات
                    </mat-label>
                    <mat-select multiple name="authorities" [(ngModel)]="user.authorities">
                        <mat-option *ngFor="let authorityOption of authorities" [value]="authorityOption">
                            {{authorityOption | translateMe}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="d-flex flex-row align-items-center">
                <mat-checkbox class="mr-2" name="activated" [checked]="user.activated" [(ngModel)]="user.activated">مفعل
                </mat-checkbox>
                <div class="mr-auto">
                    <button type="button" mat-button (click)="previousState()">
                        إلغاء
                    </button>

                    <button type="submit" [disabled]="editForm.form.invalid || isSaving" mat-raised-button
                        color="primary">
                        حفظ
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>
