<div class="entity-container">

    <form class="my-5" name="editForm" role="form" novalidate (ngSubmit)="changePassword()" #editForm="ngForm">
        <div class="mat-elevation-z1 round-card white-bg mt-5 py-4 px-4 mx-3 ">


            <h4 class="py-2" *ngIf="account">كلمة المرور للمستخدم [
                <b>{{account.login}}</b>]
            </h4>

            <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <mat-form-field  class="fill">
                        <mat-label>
                            كلمة المرور الحالية
                        </mat-label>
                        <input [(ngModel)]="currentPassword" matInput type="password" required name="currentPassword">
                        <mat-error>هذا الحقل مطلوب</mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <mat-form-field class="fill">
                        <mat-label>
                            كلمة المرور الجديدة
                        </mat-label>
                        <input [(ngModel)]="newPassword" matInput type="password" required maxlength="50" minlength="5"
                            name="newPassword">
                        <mat-error *ngIf="newPassword">
                            <span [hidden]="!editForm.controls.newPassword.errors?.required">
                                هذا الحقل مطلوب
                            </span>
                            <span [hidden]="!editForm.controls.newPassword.errors?.minlength">
                                كلمة المرور يجب ان تحتوي على الأقل على 5 خانات
                            </span>
                            <span [hidden]="!editForm.controls.newPassword.errors?.maxlength">
                                كلمة المرور يجب ان لا تزيد عن 50 خانة.
                            </span>
                        </mat-error>
                    </mat-form-field>

                </div>

                <mat-form-field  class="col-12 col-md-6">
                    <mat-label>
                        تأكيد كلمة المرور
                    </mat-label>
                    <input [(ngModel)]="confirmPassword" autofilled="flase" [errorStateMatcher]='validatePasswordMatch'
                        matInput type="password" required name="confirmPassword">
                    <mat-error *ngIf="confirmPassword">
                        <span [hidden]="!editForm.controls.confirmPassword.errors?.required || !passwordConfirmed()">
                            هذا الحقل مطلوب
                        </span>
                        <span [hidden]="passwordConfirmed()">
                            تأكيد كلمة المرور يجب أن يطابق كلمة المرور
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="my-3" matLine>قوة كلمة المرور </div>
                    <mat-password-strength class="fill" [password]="newPassword"></mat-password-strength>
                </div>
            </div>

            <mat-divider class="mt-4"></mat-divider>

            <div class="d-flex mt-3 flex-row-reverse align-items-center">
                <button type="submit" mat-raised-button
                    [disabled]="editForm.form.invalid || isSaving || !passwordConfirmed()" color="primary">
                    حفظ
                </button>
                <button type="button" mat-button (click)="previousState()" class="ml-3">
                    إلغاء
                </button>
            </div>

        </div>
    </form>

</div>
