<div class="mb-5 entity-container">

    <div class=" ml-1 d-flex align-items-center">
        <button class="ml-1" mat-raised-button color="primary" [routerLink]="['/item/new']">
            <mat-icon>add</mat-icon>
            إضافة
        </button>

        <form class="col-sm-8 col-lg-5">
            <mat-form-field class="mat-search-box" appearance="stander" floatLabel="never">
                <button mat-icon-button matPrefix type="submit" (click)="search(currentSearch)">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="بحث" matInput [(ngModel)]="currentSearch" name="currentSearch">

                <button color="warn" matSuffix mat-icon-button (click)="clear()" *ngIf="currentSearch">
                    <mat-icon>clear</mat-icon>
                </button>

            </mat-form-field>
        </form>
    </div>

    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="items?.length === 0">
        <span>لاتوجد منتجات</span>
    </div>
    <div class="table-responsive" *ngIf="items?.length > 0">
        <table class="col mat-table" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>#</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                <th jhiSortBy="name"><span>الاسم</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>التفاصيل</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="price"><span>السعر</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="currency"><span>العملة</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th ><span>عدد المفضلة</span></th>
            <th jhiSortBy="active"><span>متاح</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items ;trackBy: trackId" >
                <td><a [routerLink]="['/item', item.id, 'view' ]">{{item.id}}</a></td>
                <td><img [src]="'/api/public/items/image/'+item.id" style="max-height: 60px;" alt=""/></td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.price}}</td>
                <td>{{item.currency}}</td>
                <td>{{item.likeCount}}</td>
                <td>
                    <mat-icon *ngIf="item.active" class="text-success">check_circle_outline</mat-icon>
                    <mat-icon *ngIf="!item.active" class="text-danger">highlight_off</mat-icon>
                </td>

                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit" mat-button
                                [routerLink]="['/item', item.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">عرض</span>
                        </button>
                        <button type="submit" mat-button
                                [routerLink]="['/item', item.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">تعديل</span>
                        </button>
                        <button type="submit" mat-button
                                (click)="delete(item.id)"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">حذف</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="items?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>

    </div>
</div>
