<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="item">
            <h2><span>المنتج </span> {{item.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>الاسم</span></dt>
                <dd>
                    <span>{{item.name}}</span>
                </dd>
                <dt><span>التفاصيل</span></dt>
                <dd>
                    <span>{{item.description}}</span>
                </dd>
                <dt><span>الصورة</span></dt>
                <dd>
                    <span>{{item.imageUrl}}</span>
                </dd>

                <dt><span>السعر</span></dt>
                <dd>
                    <span>{{item.price}}</span>
                </dd>
                <dt><span>العملة</span></dt>
                <dd>
                    <span>{{item.currency}}</span>
                </dd>
                <dt><span>مفعل</span></dt>
                <dd>
                    <span>{{item.active}}</span>
                </dd>
                <dt><span>المتجر</span></dt>
                <dd>
                    <div *ngIf="item.storeId">
                        <a [routerLink]="['/store', item.storeId, 'view']">{{item.storeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> رجوع </span>
            </button>
        </div>
    </div>
</div>
