<div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_ADD_HALL']" class="mb-5 entity-container">
    <div class=" ml-1 d-flex align-items-center">
        <button class="ml-1" mat-raised-button color="primary" [routerLink]="['./new']">
            <mat-icon>add</mat-icon>
            إضافة
        </button>

    </div>
    <div class="col p-0 mt-3 min-width mat-elevation-z0 round-card"
         *ngIf="expenses && expenses.length; else emptyContent;">
        <mat-progress-bar *ngIf="isLoading" class="round-50 mt-2 fill" mode="indeterminate"></mat-progress-bar>

        <table class="col mat-table" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span>#</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="details"><span>التفاصيل</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="total"><span>الاجمالي</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="hallName"><span>الصالة</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th><span>التاريخ</span></th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expense of expenses ;trackBy: trackId">
                <td><a [routerLink]="['/expense', expense.id, 'view' ]">{{expense.id}}</a></td>
                <td>{{expense.details}}</td>
                <td>{{expense.total}}</td>
                <td>
                    <div *ngIf="expense.hallId">
                        <a [routerLink]="['/hall', expense.hallId , 'view' ]">{{expense.hallName}}</a>
                    </div>
                </td>
                <td>{{expense.createdDate}}</td>

                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/expense', expense.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/expense', expense.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/expense', { outlets: { popup: expense.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="expenses?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ng-template #emptyContent>
        <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
    </ng-template>
</div>
