<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="expense">
            <h2><span>Expense</span> {{expense.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Details</span></dt>
                <dd>
                    <span>{{expense.details}}</span>
                </dd>
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{expense.total}}</span>
                </dd>
                <dt><span>Hall</span></dt>
                <dd>
                    <div *ngIf="expense.hallId">
                        <a [routerLink]="['/hall', expense.hallId, 'view']">{{expense.hallName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/expense', expense.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
