<div class="entity-container">

    <div  class="row white-bg">
        <div class="mat-elevation-z1 p-3 round-card col-12">
            <br>
            <h5 class="my-2">التقارير</h5>
            <br>


            <div >
                <div class="row">
                    <mat-form-field class=" col" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <mat-label>اختر صالة الأفراح</mat-label>
                        <mat-select  >
                            <mat-option *ngFor="let hall of halls" [value]="hall.id" (onSelectionChange)="selectHall($event,hall)" >
                                {{hall.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class=" col">
                        <mat-label>اختر بداية التقرير</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="from">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class=" col">
                        <mat-label>اختر نهاية التقرير</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="to">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <br>

                <button class="ml-1" mat-raised-button color="primary" (click)="getXslx()">
                    <mat-icon>assignment</mat-icon>
                    XSLX تحميل التقرير
                </button>
                <button class="ml-1" mat-raised-button color="primary" (click)="getPdf()">
                    <mat-icon>assignment</mat-icon>
                    PDF تحميل التقرير
                </button>
                <br>

            </div>
            <br>

            <mat-progress-bar *ngIf="isLoading" class="round-50 mt-2 fill" mode="indeterminate"></mat-progress-bar>


        </div>
    </div>
</div>
