<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="type">
            <h2><span>المناسبة</span> {{type.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>الاسم</span></dt>
                <dd>
                    <span>{{type.name}}</span>
                </dd>

                <dt><span>سعر السبت</span></dt>
                <dd>
                    <span>{{type.satPrice}}</span>
                </dd>
                <dt><span>سعر ألاحد</span></dt>
                <dd>
                    <span>{{type.sunPrice}}</span>
                </dd>
                <dt><span>سعر الاتنين</span></dt>
                <dd>
                    <span>{{type.monPrice}}</span>
                </dd>
                <dt><span>سعر التلاتاء</span></dt>
                <dd>
                    <span>{{type.tuePrice}}</span>
                </dd>
                <dt><span>سعر الاربعاء</span></dt>
                <dd>
                    <span>{{type.wedPrice}}</span>
                </dd>
                <dt><span>سعر الخميس</span></dt>
                <dd>
                    <span>{{type.thrPrice}}</span>
                </dd>
                <dt><span>سعر الجمعة</span></dt>
                <dd>
                    <span>{{type.friPrice}}</span>
                </dd>


                <dt><span>الصالة</span></dt>
                <dd>
                    <div *ngIf="type.hallId">
                        <a [routerLink]="['/hall', type.hallId, 'view']">{{type.hallName}}</a>
                    </div>
                </dd>
            </dl>
            <div class="text-left mt-3">

                <button type="button" mat-button [routerLink]="['/type', type.id, 'edit']">
                    تعديل
                </button>

                <button type="submit" (click)="previousState()" mat-button>
                    رجوع
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>

            </div>
        </div>
    </div>
</div>
