<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-type-heading">اضافة او تعديل المناسبات</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">اسم المناسبة</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_satPrice">سعر السبت</label>
                    <input type="number" class="form-control" name="satPrice" id="field_satPrice"
                           formControlName="satPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sunPrice">سعر الأحد</label>
                    <input type="number" class="form-control" name="sunPrice" id="field_sunPrice"
                           formControlName="sunPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_monPrice">سعر الاتنين</label>
                    <input type="number" class="form-control" name="monPrice" id="field_monPrice"
                           formControlName="monPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tuePrice">سعر التلاتاء</label>
                    <input type="number" class="form-control" name="tuePrice" id="field_tuePrice"
                           formControlName="tuePrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_wedPrice">سعر الاربعاء</label>
                    <input type="number" class="form-control" name="wedPrice" id="field_wedPrice"
                           formControlName="wedPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_thrPrice">سعر الخميس</label>
                    <input type="number" class="form-control" name="thrPrice" id="field_thrPrice"
                           formControlName="thrPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_friPrice">سعر الجمعة</label>
                    <input type="number" class="form-control" name="friPrice" id="field_friPrice"
                           formControlName="friPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_active">متاح</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                    <div *ngIf="editForm.get('active').invalid && (editForm.get('active').dirty || editForm.get('active').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('active').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>


            </div>
            <div class="d-flex flex-row align-items-center">
                <div class="mr-auto">
                    <button type="button" mat-button (click)="previousState()">
                        إلغاء
                    </button>

                    <button type="submit" [disabled]="editForm.invalid || isSaving" mat-raised-button
                            color="primary">
                        حفظ
                    </button>
                </div>

            </div>

        </form>
    </div>
</div>
