<div class="mat-elevation-z1 round-card white-bg p-3 entity-container">
    <br>
    <mat-tab-group >
        <mat-tab label="بيانات الصالة">
            <div class="col-12">
                <div *ngIf="hall">
                    <br>
                    <div class="row">
                        <div class="col-6">
                        <h4><span>صالة رقم</span> {{hall.id}}</h4>
                        </div>
                        <div class="col-6">
                            <mat-icon *ngIf="hall.vip" color="primary">star</mat-icon>
                            <mat-icon *ngIf="!hall.vip" color="primary">star_border</mat-icon>
                        </div>

                    </div>
                    <div *ngIf="hall.logo">
                        <a (click)="openFile(hall.logoContentType, hall.logo)">
                            <img [src]="'data:' + hall.logoContentType + ';base64,' + hall.logo" style="max-width: 80px;" alt="store image"/>
                        </a>
                    </div>

                    <br>

                    <div class="row detail-row">
                        <div class="col-4">
                            <div class="text-muted">اسم الصالة </div>
                            <h6 matLine>{{hall.name}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted">البريد الإلكتروني </div>
                            <h6 matLine>{{hall.email}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted"> رقم الهاتف </div>
                            <h6 matLine>{{hall.phone}}</h6>
                        </div>
                    </div>
                    <br>

                    <div class="row detail-row">
                        <div class="col-4">
                            <div class="text-muted">الحجز متاح من</div>
                            <h6 matLine>{{hall.availableFrom}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted">الحجز متاح الى</div>
                            <h6 matLine>{{hall.availableTo}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted">صلاحية الحجز المبدئي</div>
                            <h6 matLine>{{hall.pendingAppointmentPeriod}} أيام </h6>
                        </div>
                    </div>
                    <br>

                    <div class="row detail-row">
                        <div class="col-6">
                            <div class="text-muted">العنوان</div>
                            <h6 matLine>{{hall.address}}</h6>
                        </div>
                        <div class="col-6">
                            <div class="text-muted">الشروط والاحكام</div>
                            <h6 matLine>{{hall.rules}}</h6>
                        </div>
                    </div>
                    <br>

                    <div class="row detail-row">
                        <div class="col-4">
                            <div class="text-muted"> كون بوااسطة </div>
                            <h6 matLine>{{hall.createdBy}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted"> تاريخ الإنشاء </div>
                            <h6 matLine>{{hall.createdDate | date:'yyyy-MM-dd'}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted"> تاريخ أخز تعديل </div>
                            <h6 matLine>{{hall.lastModifiedDate | date:'yyyy-MM-dd'}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="صور الصالة">
            <div class=" ml-1 d-flex align-items-center">

            </div>
            <table class="col mat-table" >
                <thead>
                <tr>
                    <th ><span>#</span></th>
                    <th ><span>الصورة</span></th>
                    <th ><span>التفاصيل</span></th>
                    <th ><span>القاعة</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let hallImage of hallImages">
                    <td><a [routerLink]="['/hall-image', hallImage.id, 'view' ]">{{hallImage.id}}</a></td>
                    <td><img [src]="'/api/public/hall-images/image/'+hallImage.id" style="max-height: 60px;" alt=""/></td>
                    <td>{{hallImage.title}}</td>
                    <td>
                        <div *ngIf="hallImage.roomId">
                            <a [routerLink]="['/room', hallImage.roomId , 'view' ]" >{{hallImage.roomId}}</a>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="القاعات">

            <table class="col mat-table" >
                <thead>
                <tr >
                    <th><span>#</span></th>
                    <th ><span>الاسم</span></th>
                    <th ><span>اقصى عدد للحاضرين</span></th>
                    <th ><span>السعر المضاف</span></th>
                    <th ><span>متاح</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let room of rooms ;">
                    <td><a [routerLink]="['/room', room.id, 'view' ]">{{room.id}}</a></td>
                    <td>{{room.name}}</td>
                    <td>{{room.maxAttendees}}</td>
                    <td>{{room.price}}</td>
                    <td>
                        <mat-icon *ngIf="room.active" class="text-success">check_circle_outline</mat-icon>
                        <mat-icon *ngIf="!room.active" class="text-danger">highlight_off</mat-icon>
                    </td>
                </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="المناسبات">
            <table class="col mat-table">
                <thead>
                <tr>
                    <th ><span>#</span></th>
                    <th ><span>الاسم</span></th>
                    <th ><span>السبت</span></th>
                    <th ><span>الأحد</span></th>
                    <th ><span>الاتنين</span></th>
                    <th ><span>التلاتاء</span></th>
                    <th ><span>الاربعاء</span></th>
                    <th ><span>الخميس</span></th>
                    <th ><span>الجمعة</span></th>
                    <th ><span>متاح</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let type of types ;">
                    <td><a [routerLink]="['/type', type.id, 'view' ]">{{type.id}}</a></td>
                    <td>{{type.name}}</td>
                    <td>{{type.satPrice}}</td>
                    <td>{{type.sunPrice}}</td>
                    <td>{{type.monPrice}}</td>
                    <td>{{type.tuePrice}}</td>
                    <td>{{type.wedPrice}}</td>
                    <td>{{type.thrPrice}}</td>
                    <td>{{type.friPrice}}</td>
                    <td>
                        <mat-icon *ngIf="type.active" class="text-success">check_circle_outline</mat-icon>
                        <mat-icon *ngIf="!type.active" class="text-danger">highlight_off</mat-icon>
                    </td>
                </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="الخدمات الاضافية">
            <table class="col mat-table">
                <thead>
                <tr>
                    <th ><span>#</span></th>
                    <th ><span>الاسم</span></th>
                    <th ><span>السعر</span></th>
                    <th ><span>متاح</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let extra of extras ;">
                    <td><a [routerLink]="['/extra', extra.id, 'view' ]">{{extra.id}}</a></td>
                    <td>{{extra.name}}</td>
                    <td>{{extra.price}}</td>
                    <td>
                        <mat-icon *ngIf="extra.active" class="text-success">check_circle_outline</mat-icon>
                        <mat-icon *ngIf="!extra.active" class="text-danger">highlight_off</mat-icon>
                    </td>
                </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="المصروفات">
            <table class="col mat-table">
                <thead>
                <tr>
                    <th><span>#</span></th>
                    <th><span>التفاصيل</span></th>
                    <th><span>الاجمالي</span></th>
                    <th><span>التاريخ</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let expense of expenses ;">
                    <td><a [routerLink]="['/expense', expense.id, 'view' ]">{{expense.id}}</a></td>
                    <td>{{expense.details}}</td>
                    <td>{{expense.total}}</td>
                    <td>{{expense.createdDate}}</td>
                </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="الايرادات">
            <table class="col mat-table">
                <thead>
                <tr>
                    <th><span>#</span></th>
                    <th><span>التفاصيل</span></th>
                    <th><span>الاجمالي</span></th>
                    <th><span>التاريخ</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let revenue of revenues ;">
                    <td><a [routerLink]="['/revenue', revenue.id, 'view' ]">{{revenue.id}}</a></td>
                    <td>{{revenue.details}}</td>
                    <td>{{revenue.total}}</td>
                    <td>{{revenue.createdDate}}</td>
                </tr>
                </tbody>
            </table>
        </mat-tab>

    </mat-tab-group>
</div>
