 <form role="form" (ngSubmit)="confirm()">
     <mat-dialog-title>
         <h5>{{data.title}}</h5>
     </mat-dialog-title>
     <mat-divider></mat-divider>
     <mat-dialog-content>

         <mat-form-field appearance="standard" class="fill">
             <input [(ngModel)]="input" matInput type="text" required name="input">
             <mat-error>هذا الحقل مطلوب</mat-error>
         </mat-form-field>

     </mat-dialog-content>
     <mat-dialog-actions class="mt-3" dir="ltr">
         <button [disabled]="(input.length === 0)" mat-button color="primary" type="submit">موافق</button>
         <button mat-button class="ml-2" (click)="clear()">إلغاء</button>
     </mat-dialog-actions>
 </form>
