<mat-toolbar class=" d-md-flex nav-fixed mat-elevation-z align-items-center " color="primary">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>

    <div dir="rtl" class="d-flex flex-row p-3 align-items-center" >
        <!--        <img class="img-logo-toolbar" src="../../../content/images/eidc.png" alt="logo">-->
        <span class="mr-3  m-0">Bridal</span>
    </div>

    <div class="mr-auto">
        <mat-menu #appMenu="matMenu" overlapTrigger="false" class="mt-3">
            <button mat-menu-item routerLink="/password">
                <mat-icon>vpn_key</mat-icon>
                تغيير كلمة المرور
            </button>

            <button mat-menu-item routerLink="/settings">
                <mat-icon>person</mat-icon>
                تعديل الملف الشخصي
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>arrow_back</mat-icon>
                خروج
            </button>
        </mat-menu>

        <div class="m-4 d-flex align-items-center" *ngIf="!isAuthenticated()">

            <button mat-stroked-button (click)="login()">
                <mat-icon class="">account_circle</mat-icon>
                تسجيل الدخول
            </button>

            <!--            <span class="mx-3">|</span>-->
            <!--            <jhi-social class="ml-3" iconOnly="true" provider="google"></jhi-social>-->
            <!--            <jhi-social class="" iconOnly="true" provider="facebook"></jhi-social>-->

        </div>
        <button *ngIf="isAuthenticated()" mat-button [matMenuTriggerFor]="appMenu" class="ml-2">
            <span class="ml-2">مرحباً! {{getLoginName()}} </span>
            <mat-icon class="white">account_circle</mat-icon>
        </button>
    </div>

</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side"  class="mat-elevation-z0"
        style="background-color:white">


        <mat-nav-list dir="rtl" style="width:260px; padding-top: 80px;">
            <mat-list-item routerLink="dashboard">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <span>الرئيسية</span>
            </mat-list-item>

<!--            <mat-expansion-panel *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_HALL']" class="mat-elevation-z0">-->
<!--                <mat-expansion-panel-header class="light-gray">-->
<!--                    <mat-panel-title>-->
<!--                        <mat-icon class="ml-2">today</mat-icon>-->
<!--                        المواعيد-->
<!--                    </mat-panel-title>-->
<!--                </mat-expansion-panel-header>-->
<!--                <mat-list-item routerLink="appointment">-->
<!--                    <span>قائمة</span>-->
<!--                </mat-list-item>-->

<!--                <mat-list-item routerLink="appointment-calender">-->
<!--                    <span>التقويم</span>-->
<!--                </mat-list-item>-->

<!--            </mat-expansion-panel>-->

            <mat-expansion-panel *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_MANAGER','ROLE_HALL']" class="mat-elevation-z0">
                <mat-expansion-panel-header class="light-gray">
                    <mat-panel-title>
                        <mat-icon class="ml-2">calendar_today</mat-icon>
                        الحجوزات
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="reservation">
                    <span>قائمة</span>
                </mat-list-item>

                <mat-list-item routerLink="reservation-calender">
                    <span>التقويم</span>
                </mat-list-item>

            </mat-expansion-panel>


            <mat-list-item *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_ADD_HALL']" routerLink="hall">
                <mat-icon mat-list-icon>account_balance</mat-icon>
                <span>صالات الأفراح</span>
            </mat-list-item>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_HALL']" routerLink="hall">
                <mat-icon mat-list-icon>account_balance</mat-icon>
                <span>بيانات الصالة</span>
            </mat-list-item>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_HALL']" routerLink="hall-image">
                <mat-icon mat-list-icon>perm_media</mat-icon>
                <span>صور الصالة</span>
            </mat-list-item>


            <mat-list-item *jhiHasAnyAuthority="['ROLE_HALL']" routerLink="room">
                <mat-icon mat-list-icon>meeting_room</mat-icon>
                <span>القاعات</span>
            </mat-list-item>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_HALL']" routerLink="type">
                <mat-icon mat-list-icon>class</mat-icon>
                <span>المناسبات</span>
            </mat-list-item>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_HALL']" routerLink="extra">
                <mat-icon mat-list-icon>room_service</mat-icon>
                <span>الاضافات</span>
            </mat-list-item>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_HALL', 'ROLE_ADMIN', 'ROLE_MANAGER']" routerLink="invoice">
                <mat-icon mat-list-icon>receipt</mat-icon>
                <span>سندات القبض</span>
            </mat-list-item>

            <mat-divider class="mx-2 light-gray"></mat-divider>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_MANAGER', 'ROLE_ADMIN']" routerLink="banner">
                <mat-icon mat-list-icon>perm_media</mat-icon>
                <span>الصور الرئيسية</span>
            </mat-list-item>



            <mat-list-item *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_ADD_STORE']" routerLink="store">
                <mat-icon mat-list-icon>store</mat-icon>
                <span>المتاجر</span>
            </mat-list-item>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_STORE']" routerLink="store">
                <mat-icon mat-list-icon>store</mat-icon>
                <span>بيانات المتجر</span>
            </mat-list-item>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_STORE']" routerLink="store-image">
                <mat-icon mat-list-icon>perm_media</mat-icon>
                <span>صور المتجر</span>
            </mat-list-item>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_STORE']" routerLink="item">
                <mat-icon mat-list-icon>category</mat-icon>
                <span>الخدمات والمنتجات</span>
            </mat-list-item>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_STORE']" routerLink="chat">
                <mat-icon mat-list-icon>category</mat-icon>
                <span>الرسائل</span>
            </mat-list-item>

            <mat-expansion-panel *jhiHasAnyAuthority="[ 'ROLE_HALL']"
                                 class="mat-elevation-z0">
                <mat-expansion-panel-header class="light-gray">
                    <mat-panel-title>
                        <mat-icon class="ml-2">developer_board</mat-icon>
                        الخزينة
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="expense">
                    <span>المصروفات</span>
                </mat-list-item>
                <mat-list-item routerLink="revenue">
                    <span>الايرادات</span>
                </mat-list-item>
            </mat-expansion-panel>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_MANAGER','ROLE_ADMIN']" routerLink="category">
                <mat-icon mat-list-icon>category</mat-icon>
                <span>التصنيفات</span>
            </mat-list-item>

            <mat-divider class="mx-2 light-gray"></mat-divider>

            <mat-list-item *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_MANAGER']" routerLink="notification">
                <mat-icon mat-list-icon>notifications</mat-icon>
                <span>الاشعارات</span>
            </mat-list-item>


            <mat-list-item *jhiHasAnyAuthority="['ROLE_MANAGER','ROLE_ADMIN']" routerLink="report">
                <mat-icon mat-list-icon>insert_chart</mat-icon>
                <span>التقارير</span>
            </mat-list-item>


            <mat-expansion-panel *jhiHasAnyAuthority="['ROLE_MANAGER','ROLE_ADMIN']" class="mat-elevation-z0">
                <mat-expansion-panel-header class="light-gray">
                    <mat-panel-title>
                        <mat-icon class="ml-2">developer_board</mat-icon>
                        مدير النظام
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item routerLink="admin/user-management">
                    <span>إدارة المستخدمين</span>
                </mat-list-item>


                <mat-list-item routerLink="admin/audits">
                    <span>التدقيق</span>
                </mat-list-item>

                <mat-list-item routerLink="admin/docs">
                    <span>API</span>
                </mat-list-item>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>

            <jhi-footer> </jhi-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
