<div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_ADD_STORE']" class="mb-5 entity-container">
    <div class=" ml-1 d-flex align-items-center">
        <button class="ml-1" mat-raised-button color="primary" [routerLink]="['/store/new']">
            <mat-icon>add</mat-icon>
            إضافة
        </button>

        <form class="col-sm-8 col-lg-5">
            <mat-form-field class="mat-search-box" appearance="stander" floatLabel="never">
                <button mat-icon-button matPrefix type="submit" (click)="search(currentSearch)">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="بحث" matInput [(ngModel)]="currentSearch" name="currentSearch">

                <button color="warn" matSuffix mat-icon-button (click)="clear()" *ngIf="currentSearch">
                    <mat-icon>clear</mat-icon>
                </button>

            </mat-form-field>
        </form>
    </div>

    <div class="col p-0 mt-3 min-width mat-elevation-z0 round-card"
         *ngIf="stores && stores.length; else emptyContent;">
        <mat-progress-bar *ngIf="isLoading" class="round-50 mt-2 fill" mode="indeterminate"></mat-progress-bar>

        <table class="col mat-table" matSort (matSortChange)="sortData($event)">
            <thead>
            <tr >
                <th mat-sort-header="id"><span>#</span></th>
                <th></th>
                <th mat-sort-header="name"><span>الاسم</span></th>
                <th mat-sort-header="address"><span>العنوان</span></th>
                <th mat-sort-header="phone"><span>رقم الهاتف</span></th>
                <th mat-sort-header="email"><span>بريد الكتروني</span></th>
                <th mat-sort-header="vip"><span>VIP</span></th>
                <th mat-sort-header="categoryName"><span>التصنيف</span></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let store of stores ;trackBy: trackId">
                <td><a [routerLink]="['/store', store.id, 'view' ]">{{store.id}}</a></td>
                <td>
                    <img [src]="'/api/public/stores/logo/'+store.id" style="max-height: 60px;" alt=""/>
                </td>
                <td>{{store.name}}</td>
                <td>{{store.address}}</td>
                <td>{{store.phone}}</td>
                <td>{{store.email}}</td>
                <td>
                    <mat-icon *ngIf="store.vip" color="primary">star</mat-icon>
                    <mat-icon *ngIf="!store.vip" color="primary">star_border</mat-icon>
                </td>
                <td>
                    <div *ngIf="store.categoryId">
                        <a [routerLink]="['/category', store.categoryId , 'view' ]" >{{store.categoryName}}</a>
                    </div>
                </td>
                <td class="text-left">
                    <div>
                        <button type="submit" [routerLink]="['/store', store.id, 'view' ]" mat-button>
                            <mat-icon class="ml-2">remove_red_eye</mat-icon>
                            عرض
                        </button>
                        <mat-menu  #appMenu="matMenu" overlapTrigger="false" xPosition="before">
                            <button mat-menu-item [routerLink]="['/store', store.id, 'edit']">
                                <mat-icon class="ml-2">edit</mat-icon>
                                تعديل
                            </button>
                            <button mat-menu-item (click)="delete(store.id)">
                                <mat-icon class="ml-2">delete</mat-icon>
                                حذف
                            </button>
                        </mat-menu>
                        <button mat-icon-button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                [matMenuTriggerFor]="appMenu" class="ml-1">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 15, 25]" [pageIndex]="page" (page)="loadPage($event)" showFirstLastButtons></mat-paginator>

    </div>
    <ng-template #emptyContent>
        <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
    </ng-template>
</div>


<div *jhiHasAnyAuthority="'ROLE_STORE'" class="mb-5 entity-container">

    <div class="col p-0 mt-3 min-width mat-elevation-z0 round-card"
         *ngIf="stores && stores.length; else emptyContent;">
        <mat-progress-bar *ngIf="isLoading" class="round-50 mt-2 fill" mode="indeterminate"></mat-progress-bar>

        <table class="col mat-table" matSort (matSortChange)="sortData($event)">
            <thead>
            <tr >
                <th mat-sort-header="id"><span>#</span></th>
                <th></th>
                <th mat-sort-header="name"><span>الاسم</span></th>
                <th mat-sort-header="address"><span>العنوان</span></th>
                <th mat-sort-header="phone"><span>رقم الهاتف</span></th>
                <th mat-sort-header="email"><span>بريد الكتروني</span></th>
                <th mat-sort-header="vip"><span>VIP</span></th>
                <th mat-sort-header="categoryName"><span>التصنيف</span></th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let store of stores ;trackBy: trackId">
                <td><a [routerLink]="['/store', store.id, 'view' ]">{{store.id}}</a></td>
                <td>
                    <img [src]="'/api/public/stores/logo/'+store.id" style="max-height: 60px;" alt=""/>
                </td>
                <td>{{store.name}}</td>
                <td>{{store.address}}</td>
                <td>{{store.phone}}</td>
                <td>{{store.email}}</td>
                <td>
                    <mat-icon *ngIf="store.vip" color="primary">star</mat-icon>
                    <mat-icon *ngIf="!store.vip" color="primary">star_border</mat-icon>
                </td>
                <td>
                    <div *ngIf="store.categoryId">
                        <a >{{store.categoryName}}</a>
                    </div>
                </td>
                <td class="text-left">
                    <div>
                        <button type="submit" [routerLink]="['/store', store.id, 'view' ]" mat-button>
                            <mat-icon class="ml-2">remove_red_eye</mat-icon>
                            عرض
                        </button>
                        <button mat-button [routerLink]="['/store', store.id, 'edit']">
                            <mat-icon class="ml-2">edit</mat-icon>
                            تعديل
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 15, 25]" [pageIndex]="page" (page)="loadPage($event)" showFirstLastButtons></mat-paginator>

    </div>
    <ng-template #emptyContent>
        <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
    </ng-template>
</div>
