<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <h2 id="page-heading">
            <span>اضافة أو تعديل متجر</span>
        </h2>

        <mat-progress-bar *ngIf="isSaving" class="round-50 mt-2 fill" mode="indeterminate"></mat-progress-bar>
        <form class="mt-4" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="m-4 mt-4">
                <div class="form-group" [hidden]="true">
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly/>
                </div>
                <div class="form-group" [hidden]="true">
                    <input type="text" class="form-control" id="logoUrl" name="logoUrl" formControlName="logoUrl"
                           readonly />
                </div>
                <div class="row">
                    <mat-form-field appearance="standard" class="col-6 m-2" >
                        <mat-label>اسم المتجر</mat-label>
                        <input type="text" matInput name="name" id="field_name" required
                               formControlName="name"/>
                        <div
                            *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('name').errors.required">
                                هذا الحقل مطلوب !
                            </small>
                        </div>
                    </mat-form-field>

                    <mat-checkbox *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_ADD_STORE']" class="m-4 mr-5" name="vip" id="field_vip"
                                  formControlName="vip" >عضوية مميزة
                    </mat-checkbox>


                    <div class="form-group col-6 m-2">
                        <label class="form-control-label" for="field_logo">الشعار</label>
                        <div>
                            <img
                                [src]="'data:' + editForm.get('logoContentType').value + ';base64,' + editForm.get('logo').value"
                                style="max-height: 100px;" *ngIf="editForm.get('logo').value" alt="store image"/>
                            <div *ngIf="editForm.get('logo').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('logoContentType').value}}
                                , {{byteSize(editForm.get('logo').value)}}</span>
                                <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')"
                                        class="btn btn-secondary btn-xs pull-right">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </div>
                            <input type="file" id="file_logo" (change)="setFileData($event, 'logo', true)"
                                   accept="image/*"/>
                        </div>
                        <input type="hidden" class="form-control" name="logo" id="field_logo"
                               formControlName="logo"/>
                        <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                               formControlName="logoContentType"/>
                        <div
                            *ngIf="editForm.get('logo').invalid && (editForm.get('logo').dirty || editForm.get('logo').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('logo').errors.required">
                                هذا الحقل مطلوب.
                            </small>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">

                    <mat-form-field appearance="standard" class="col-4">
                        <mat-label>العنوان</mat-label>
                        <input type="text" matInput name="address" id="field_address" required
                               formControlName="address"/>
                        <div
                            *ngIf="editForm.get('address').invalid && (editForm.get('address').dirty || editForm.get('address').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('address').errors.required">
                                هذا الحقل مطلوب !
                            </small>
                        </div>
                    </mat-form-field>

                    <mat-form-field appearance="standard" class="col-4">
                        <mat-label>رقم الهاتف</mat-label>
                        <input type="text" matInput name="phone" id="field_phone" required
                               formControlName="phone"/>
                        <div
                            *ngIf="editForm.get('phone').invalid && (editForm.get('phone').dirty || editForm.get('phone').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('phone').errors.required">
                                هذا الحقل مطلوب !
                            </small>
                        </div>
                    </mat-form-field>

                    <mat-form-field appearance="standard" class="col-4">
                        <mat-label>البريد الالكتروني</mat-label>
                        <input type="text" matInput name="email" id="field_email" required
                               formControlName="email"/>
                        <div
                            *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('email').errors.required">
                                هذا الحقل مطلوب !
                            </small>
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('email').errors.email">
                                صيغة بريد الكتروني غير صحيحة !
                            </small>
                        </div>
                    </mat-form-field>

                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">تفاصيل المتجر</label>
                    <textarea class="form-control" name="description" id="field_description" required
                              formControlName="description"></textarea>

                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.required">
                            هذا الحقل مطلوب !
                        </small>
                    </div>
                </div>

                <div class="row">

                    <mat-form-field appearance="standard" class="col-4">
                        <mat-label>فيس بوك</mat-label>
                        <input type="text" matInput name="facebook" id="field_facebook"
                               formControlName="facebook"/>
                    </mat-form-field>

                    <mat-form-field appearance="standard" class="col-4">
                        <mat-label>واتس اب</mat-label>
                        <input type="text" matInput name="whatsup" id="field_whatsup"
                               formControlName="whatsup"/>
                    </mat-form-field>

                    <mat-form-field appearance="standard" class="col-4">
                        <mat-label>فايبر</mat-label>
                        <input type="text" matInput name="viper" id="field_viper"
                               formControlName="viper"/>
                    </mat-form-field>

                </div>
                <div class="row">
                    <mat-form-field appearance="standard" class="col-4">
                        <mat-label>تويتر</mat-label>
                        <input type="text" matInput name="twitter" id="field_twitter"
                               formControlName="twitter"/>
                    </mat-form-field>

                    <mat-form-field appearance="standard" class="col-4">
                        <mat-label>انستقرام</mat-label>
                        <input type="text" matInput name="instagram" id="field_instagram"
                               formControlName="instagram"/>
                    </mat-form-field>

                    <mat-form-field appearance="standard" class="col-4">
                        <mat-label>سناب شات</mat-label>
                        <input type="text" matInput name="snapchat" id="field_snapchat"
                               formControlName="snapchat"/>
                    </mat-form-field>

                </div>

                <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_ADD_STORE']" class="row">
                    <mat-form-field appearance="standard" class="col-6 mt-4">
                        <mat-label>التصنيف</mat-label>
                        <mat-select id="field_category" name="category" formControlName="categoryId" required>
                            <mat-option *ngIf="!editForm.get('categoryId').value" [value]="null" selected></mat-option>
                            <mat-option [value]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</mat-option>
                        </mat-select>
                        <div *ngIf="editForm.get('categoryId').invalid && (editForm.get('categoryId').dirty || editForm.get('categoryId').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('categoryId').errors.required">
                                هذا الحقل مطلوب !
                            </small>
                        </div>
                    </mat-form-field>
                </div>


                <div class="row mt-4">
                    <div class="col-4 mt-2">
                        <h5>الموقع</h5>
                        <p>أنقر على الخارطة وحرك المؤشر ليشير إلى موقع الصالة.</p>
                        <mat-form-field appearance="standard">
                            <mat-label>خط طول</mat-label>
                            <input value="{{markers[0].lat || 'غير محدد'}}" matInput type="text" disabled>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>خط عرض</mat-label>
                            <input value="{{markers[0].lng || 'غير محدد'}}" matInput type="text" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-8">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
                            <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                            </agm-marker>
                        </agm-map>
                    </div>
                </div>


            </div>
            <div class="d-flex flex-row align-items-center">
                <div class="mr-auto">
                    <button type="button" mat-button (click)="previousState()">
                        إلغاء
                    </button>

                    <button type="submit" [disabled]="editForm.invalid || isSaving" mat-raised-button
                            color="primary">
                        حفظ
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>
