<div class="mat-elevation-z1 round-card white-bg p-3 entity-container">
    <br>
    <mat-tab-group >

        <mat-tab label="بيانات المتجر">
            <div class="col-12">
                <div *ngIf="store">
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <h4><span>متجر رقم</span> {{store.id}}</h4>
                        </div>
                        <div class="col-4">
                            <a >{{store.categoryName}}</a>
                        </div>
                        <div class="col-4">
                            <mat-icon *ngIf="store.vip" color="primary">star</mat-icon>
                            <mat-icon *ngIf="!store.vip" color="primary">star_border</mat-icon>
                        </div>

                    </div>
                    <div *ngIf="store.logo">
                        <a (click)="openFile(store.logoContentType, store.logo)">
                            <img [src]="'data:' + store.logoContentType + ';base64,' + store.logo" style="max-width: 80px;" alt="store image"/>
                        </a>
                    </div>

                    <br>
                    <div class="row detail-row">
                        <div class="col-4">
                            <div class="text-muted">اسم المتجر </div>
                            <h6 matLine>{{store.name}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted">البريد الإلكتروني </div>
                            <h6 matLine>{{store.email}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted"> رقم الهاتف </div>
                            <h6 matLine>{{store.phone}}</h6>
                        </div>
                    </div>

                    <br>
                    <div class="row detail-row">
                        <div class="col-6">
                            <div class="text-muted">العنوان</div>
                            <h6 matLine>{{store.address}}</h6>
                        </div>
                        <div class="col-6">
                            <div class="text-muted">حول المتجر</div>
                            <h6 matLine>{{store.description}}</h6>
                        </div>
                    </div>

                    <br>
                    <div class="row detail-row">
                        <div class="col-4">
                            <div class="text-muted">فيس بوك</div>
                            <h6 matLine>{{store.facebook}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted">واتس اب</div>
                            <h6 matLine>{{store.whatsup}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted">فايبر</div>
                            <h6 matLine>{{store.viper}}</h6>
                        </div>
                    </div>

                    <br>
                    <div class="row detail-row">
                        <div class="col-4">
                            <div class="text-muted">تويتر</div>
                            <h6 matLine>{{store.twitter}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted">انستقرام</div>
                            <h6 matLine>{{store.instagram}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted">سناب شات</div>
                            <h6 matLine>{{store.snapchat}}</h6>
                        </div>
                    </div>


                    <br>
                    <div class="row detail-row">
                        <div class="col-4">
                            <div class="text-muted"> كون بوااسطة </div>
                            <h6 matLine>{{store.createdBy}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted"> تاريخ الإنشاء </div>
                            <h6 matLine>{{store.createdDate | date:'yyyy-MM-dd hh:mm a'}}</h6>
                        </div>
                        <div class="col-4">
                            <div class="text-muted"> تاريخ أخز تعديل </div>
                            <h6 matLine>{{store.lastModifiedDate | date:'yyyy-MM-dd hh:mm a'}}</h6>
                        </div>
                    </div>

                </div>
            </div>
        </mat-tab>

        <mat-tab label="صور المتجر">

            <table class="col mat-table" >
                <thead>
                <tr>
                    <th ><span>#</span></th>
                    <th ><span>الصورة</span></th>
                    <th ><span>تفاصيل</span></th>
                    <th ><span>انشئت من قبل</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let storeImage of storeImages">
                    <td><a [routerLink]="['/store-image', storeImage.id, 'view' ]">{{storeImage.id}}</a></td>
                    <td><img [src]="'/api/public/store-images/image/'+storeImage.id" style="max-height: 60px;" alt=""/></td>
                    <td>{{storeImage.title}}</td>

                    <td>
                        <div *ngIf="storeImage.storeId">
                            <a [routerLink]="['/store', storeImage.storeId , 'view' ]" >{{storeImage.storeName}}</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="خدمات المتجر">

            <table class="col mat-table" >
                <thead>
                <tr>
                    <th><span>#</span></th>
                    <th><span></span></th>
                    <th><span>الاسم</span></th>
                    <th><span>التفاصيل</span></th>
                    <th><span>السعر</span></th>
                    <th><span>العملة</span></th>
                    <th><span>عدد الاعجابات</span></th>
                    <th><span>متاح</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of items">
                    <td><a [routerLink]="['/item', item.id, 'view' ]">{{item.id}}</a></td>
                    <td><img [src]="'/api/public/items/image/'+item.id" style="max-height: 60px;" alt=""/></td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.currency}}</td>
                    <td>{{item.likeCount}}</td>
                    <td>
                        <mat-icon *ngIf="item.active" class="text-success">check_circle_outline</mat-icon>
                        <mat-icon *ngIf="!item.active" class="text-danger">highlight_off</mat-icon>
                    </td>
                </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="جميع الرسائل">

            <table class="col mat-table">
                <thead>
                <tr>
                    <th><span>#</span></th>
                    <th><span>الرسالة</span></th>
                    <th><span>الزبون</span></th>
                    <th><span>التاريخ</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let chat of chats">
                    <td><a [routerLink]="['/chat', chat.id, 'view' ]">{{chat.id}}</a></td>
                    <td>{{chat.details}}</td>
                    <td>{{chat.userLogin}}</td>
                    <td>{{chat.createdDate}}</td>
                </tr>
                </tbody>
            </table>
        </mat-tab>

    </mat-tab-group>

</div>
