<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="invoice">
            <div class="d-flex align-items-center ml-4 mt-2">
                <h2><span> رقم </span> {{invoice.id}}</h2>
                <button class="mr-auto" color="primary" mat-stroked-button printSectionId="print-section" [useExistingCss]="true" ngxPrint>
                    <mat-icon color="primary">print</mat-icon>
                    طباعة الواصل
                </button>
            </div>
            <jhi-alert-error></jhi-alert-error>
            <div id="print-section" >
                <div class="d-flex align-items-center ml-4 mt-2">
                    <div class="col">
                        <img  [src]="'/api/public/halls/logo/'+invoice.hallId" style="max-height: 80px;" alt="logo"/>
                    </div>
                    <div class="col">
                        <img class=" mr-auto img-logo-toolbar" src="../../../content/images/bridal-logo.png" alt="logo">
                    </div>
                </div>
                <br>
                <div class="row detail-row mt-3">
                    <div  class="col">
                        <div class="text-muted">ناريخ الواصل</div>
                        <h6 matLine >{{invoice.invoiceDate | date: 'yyyy-MM-dd'}}</h6>
                    </div>
                    <div  class="col">
                        <div class="text-muted">نوع الواصل</div>
                        <h6 matLine >{{invoice.invoiceType | translateMe}}</h6>
                    </div>

                </div>
                <div class="row mt-3">
                    <div  class="col">
                        <div class="text-muted">اسم الصالة</div>
                        <h6 matLine >{{invoice.hallName }}</h6>
                    </div>
                    <div  class="col">
                        <div class="text-muted">اجمالي القيمة</div>
                        <h6 matLine >{{invoice.amount}} د.ل </h6>
                    </div>

                </div>

                <div class="row mt-3">
                    <div  class="col">
                        <div class="text-muted">تفاصيل الواصل</div>
                        <h6 matLine >{{invoice.details }}</h6>
                    </div>
                </div>

                <br>
                <br>
                <h4>بيانات الزبون</h4>
                <div class="row detail-row mt-3">
                    <div  *ngIf="invoice.reservationCustomerName" class="col">
                        <div class="text-muted">اسم الزبون</div>
                        <h6 matLine >{{ invoice.reservationCustomerName }}</h6>
                    </div>
                    <div  *ngIf="invoice.reservationCustomerPhone" class="col">
                        <div class="text-muted">رقم هاتف الزبون</div>
                        <h6 matLine >{{ invoice.reservationCustomerPhone }}</h6>
                    </div>
                    <div *ngIf="invoice.reservationUserFirstName" class="col">
                        <div class="text-muted">اسم الزبون المسجل بالتطبيق</div>
                        <h6 matLine >{{invoice.reservationUserFirstName }}</h6>
                    </div>
                    <div *ngIf="invoice.reservationUserPhone" class="col">
                        <div class="text-muted">رقم هاتف الزبون المسجل بالتطبيق</div>
                        <h6 matLine >{{ invoice.reservationUserPhone }}</h6>
                    </div>
                </div>
                <br>
                <h4>بيانات الحجز</h4>
                <br>
                <div class="row detail-row mt-3">
                    <div  class="col-4">
                        <div class="text-muted">رقم الحجز</div>
                        <h6 matLine >{{ invoice.reservationId }}</h6>
                    </div>
                    <div  class="col-4">
                        <div class="text-muted">تاريخ الحجز</div>
                        <h6 matLine >{{ invoice.reservationReservationDate | date:'yyyy-MM-dd'}}</h6>
                    </div>
                    <div  class="col-4">
                        <div class="text-muted">قيمة الحجز</div>
                        <h6 matLine >{{invoice.reservationTotal }} د.ل </h6>
                    </div>
                </div>
                <div class="row detail-row mt-3">
                    <div  class="col-4">
                        <div class="text-muted">اجمالي الاضافات</div>
                        <h6 matLine >{{ invoice.extrasTotal }}</h6>
                    </div>
                </div>
                <br>
            </div>

            <div class="d-flex flex-row-reverse row mt-2 ml-2">
                <button (click)="previousState()" mat-button type="submit">
                    رجوع
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>
