<div class="mb-5 entity-container">
    <div class=" ml-1 d-flex align-items-center">
<!--        <button class="ml-1" mat-raised-button color="primary" [routerLink]="['/invoice/new']">-->
<!--            <mat-icon>add</mat-icon>-->
<!--            إضافة-->
<!--        </button>-->

        <form class="col-sm-8 col-lg-5">
            <mat-form-field class="mat-search-box" appearance="stander" floatLabel="never">
                <button mat-icon-button matPrefix type="submit" (click)="search(currentSearch)">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="بحث" matInput [(ngModel)]="currentSearch" name="currentSearch">

                <button color="warn" matSuffix mat-icon-button (click)="clear()" *ngIf="currentSearch">
                    <mat-icon>clear</mat-icon>
                </button>

            </mat-form-field>
        </form>
    </div>

    <div class="col p-0 mt-3 min-width mat-elevation-z0 round-card"
         *ngIf="invoices && invoices.length; else emptyContent;">
        <mat-progress-bar *ngIf="isLoading" class="round-50 mt-2 fill" mode="indeterminate"></mat-progress-bar>

        <table class="col mat-table" matSort (matSortChange)="sortData($event)">
            <thead>
            <tr>
                <th mat-sort-header="id"><span>ر.ت</span></th>
                <th mat-sort-header="invoiceDate"><span>التاريخ</span></th>
                <th mat-sort-header="invoiceType"><span>النوع</span></th>
                <th mat-sort-header="amount"><span>الاجمالي</span></th>
                <th mat-sort-header="reservationId"><span>رقم الحجز</span></th>
                <th ><span>الصالة</span></th>
                <th mat-sort-header="details"><span>التفاصيل</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['/invoice', invoice.id, 'view' ]">{{invoice.id}}</a></td>
                <td>{{invoice.invoiceDate | date: 'yyyy-MM-dd'}}</td>
                <td>
                    <mat-chip-list >
                        <mat-chip color="{{invoice.invoiceType | getColor}}" selected>{{invoice.invoiceType | translateMe}}</mat-chip>
                    </mat-chip-list>
                </td>
                <td>{{invoice.amount | currency: ' ' }} د.ل </td>
                <td>
                    <div *ngIf="invoice.reservationId">
                        <a [routerLink]="['/reservation', invoice.reservationId , 'view' ]" >{{invoice.reservationId}}</a>
                    </div>
                </td>
                <td>
                    {{invoice.hallName}}
                </td>
                <td>{{invoice.details}}</td>

                <td class="text-left">
                    <div>

                        <mat-menu #appMenu="matMenu" overlapTrigger="false" xPosition="before">
                            <button type="submit" [routerLink]="['/invoice', invoice.id, 'view' ]" mat-menu-item>
                                <mat-icon class="ml-2">remove_red_eye</mat-icon>
                                عرض
                            </button>
                            <button mat-menu-item [routerLink]="['/invoice', invoice.id, 'edit']">
                                <mat-icon class="ml-2">edit</mat-icon>
                                تعديل
                            </button>
                            <button mat-menu-item (click)="delete(invoice.id)">
                                <mat-icon class="ml-2">delete</mat-icon>
                                حذف
                            </button>
                        </mat-menu>
                        <button mat-icon-button
                                [matMenuTriggerFor]="appMenu" class="ml-1">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 15, 25]" [pageIndex]="page" (page)="loadPage($event)" showFirstLastButtons></mat-paginator>

    </div>
    <ng-template #emptyContent>
        <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
    </ng-template>
</div>
