<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h3 id="jhi-invoice-heading"> تأكيد الحجز رقم: {{ reservationId }}</h3>
            <br>

            <div *ngIf="reservation">
                <div class="row detail-row mt-3">
                    <div class="col-4">
                        <div class="text-muted">الاجمالي</div>
                        <h6 matLine>{{reservation.total}} د.ل </h6>
                    </div>
                    <div class="col-4">
                        <div class="text-success">المدفوع</div>
                        <h6 class="text-success" matLine>{{getTotalPayed(reservation)}} د.ل </h6>
                    </div>
                    <div class="col-4">
                        <div class="text-danger">المتبقي</div>
                        <h6 class="text-danger" matLine >{{getTotalLeft(reservation)}} د.ل </h6>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <h5 >الرجاء ادخال سند القبض الخاص بتأكيد الحجز</h5>
            <br>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceDate">تاريخ الانشاء</label>
                    <div class="input-group">
                        <input id="field_invoiceDate" type="text" class="form-control" name="invoiceDate" ngbDatepicker  #invoiceDateDp="ngbDatepicker" formControlName="invoiceDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="invoiceDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('invoiceDate').invalid && (editForm.get('invoiceDate').dirty || editForm.get('invoiceDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('invoiceDate').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">الاجمالي</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount').invalid && (editForm.get('amount').dirty || editForm.get('amount').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_details">التفاصيل</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceType">نوع السند</label>
                    <select class="form-control" name="invoiceType" formControlName="invoiceType" id="field_invoiceType">
                        <option value="PARTIAL_PAYMENT">استلام مبلغ من الزبون</option>
                        <option value="RETURN">ارجاع مبلغ للزبون</option>
                    </select>
                    <div *ngIf="editForm.get('invoiceType').invalid && (editForm.get('invoiceType').dirty || editForm.get('invoiceType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('invoiceType').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>الغاء</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>حفظ</span>
                </button>
            </div>
        </form>
    </div>
</div>
