<div class="mb-5 entity-container">
    <div class=" ml-1 d-flex align-items-center">
        <button [disabled]="storeImages.length >= 10 " class="ml-1" mat-raised-button color="primary" [routerLink]="['/store-image/new']">
            <mat-icon>add</mat-icon>
            إضافة
        </button>

    </div>

    <div class="col p-0 mt-3 min-width mat-elevation-z0 round-card"
         *ngIf="storeImages && storeImages.length; else emptyContent;">
        <mat-progress-bar *ngIf="isLoading" class="round-50 mt-2 fill" mode="indeterminate"></mat-progress-bar>
        <table class="col mat-table" >
            <thead>
            <tr>
                <th ><span>#</span></th>
                <th ><span>الصورة</span></th>
                <th ><span>انشئت من قبل</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let storeImage of storeImages ;trackBy: trackId">
                <td><a [routerLink]="['/store-image', storeImage.id, 'view' ]">{{storeImage.id}}</a></td>
                <td>
                    <img [src]="'/api/public/store-images/image/'+storeImage.id" style="max-height: 60px;" alt=""/>
                </td>
                <td>
                    <div *ngIf="storeImage.storeId">
                        <a [routerLink]="['/store', storeImage.storeId , 'view' ]" >{{storeImage.storeName}}</a>
                    </div>
                </td>
                <td class="text-left">
                    <div>
                        <button type="submit"  (click)="delete(storeImage.id)" mat-button>
                            <mat-icon class="ml-2">delete</mat-icon>
                            حذف
                        </button>

                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 15, 25]" [pageIndex]="page" (page)="loadPage($event)" showFirstLastButtons></mat-paginator>

    </div>
    <ng-template #emptyContent>
        <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
    </ng-template>
</div>
