<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="storeImage">
            <h2><span>Store Image</span> {{storeImage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="storeImage.image">
                        <a (click)="openFile(storeImage.imageContentType, storeImage.image)">
                            <img [src]="'data:' + storeImage.imageContentType + ';base64,' + storeImage.image" style="max-width: 100%;" alt="storeImage image"/>
                        </a>
                        {{storeImage.imageContentType}}, {{byteSize(storeImage.image)}}
                    </div>
                </dd>
                <dt><span>Store</span></dt>
                <dd>
                    <div *ngIf="storeImage.storeId">
                        <a [routerLink]="['/store', storeImage.storeId, 'view']">{{storeImage.storeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> رجوع</span>
            </button>

            <button type="button"
                    [routerLink]="['/store-image', storeImage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> تعديل</span>
            </button>
        </div>
    </div>
</div>
