<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="revenue">
            <h2><span>Revenue</span> {{revenue.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Details</span></dt>
                <dd>
                    <span>{{revenue.details}}</span>
                </dd>
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{revenue.total}}</span>
                </dd>
                <dt><span>Hall</span></dt>
                <dd>
                    <div *ngIf="revenue.hallId">
                        <a [routerLink]="['/hall', revenue.hallId, 'view']">{{revenue.hallName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/revenue', revenue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
