<div class="mb-5 entity-container">
    <h2 id="page-heading">
        <span>Settings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-setting"
                [routerLink]="['/setting/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Create a new Setting
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="settings?.length === 0">
        <span>No settings found</span>
    </div>
    <div class="table-responsive" *ngIf="settings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Key</span></th>
                <th><span>Value</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let setting of settings ;trackBy: trackId">
                <td><a [routerLink]="['/setting', setting.id, 'view' ]">{{setting.id}}</a></td>
                <td>{{setting.key}}</td>
                <td>{{setting.value}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/setting', setting.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/setting', setting.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/setting', { outlets: { popup: setting.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
