<form ngNoForm action="{{ providerURL }}" method="POST">

    <button *ngIf="iconOnly; else textButton" mat-icon-button class="white-bg">
        <mat-icon style="font-size: 24px" svgIcon="{{provider}}"></mat-icon>
    </button>
    <ng-template #textButton>
        <button class="col" mat-stroked-button type="submit">
            <span class="col">{{ label }}</span>
            <mat-icon style="font-size: 24px ; height: 30px !important;" svgIcon="{{provider}}"></mat-icon>
        </button>
    </ng-template>
    <input name="scope" type="hidden" value="{{ providerSetting }}" />
    <input name="_csrf" type="hidden" value="{{ csrf }}" />
</form>
