<div class="entity-container">
    <form class="mt-5 " name="editForm" role="form" novalidate (ngSubmit)="register()" #editForm="ngForm">
        <div class="mat-elevation-z1 round-card white-bg mt-5 py-4 px-4 mx-3">
            <mat-progress-bar class="round-50 mt-2" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>


            <h4 class="py-2"> إنشاء حساب حديد
            </h4>

            <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="outline" class="fill">
                        <mat-label>
                            البريد الإلكتروني
                        </mat-label>
                        <input [(ngModel)]="registerAccount.login" matInput type="email" email required name="login">
                        <mat-error>الرجاء إدخال بريد إلكتروني صحيح</mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="outline" class="fill">
                        <mat-label>
                            كلمة المرور الجديدة
                        </mat-label>
                        <input [(ngModel)]="registerAccount.password" matInput type="password" required maxlength="50"
                            minlength="5" name="newPassword">
                        <mat-error *ngIf="registerAccount.password">
                            <span [hidden]="!editForm.controls.newPassword.errors?.required">
                                هذا الحقل مطلوب
                            </span>
                            <span [hidden]="!editForm.controls.newPassword.errors?.minlength">
                                كلمة المرور يجب ان تحتوي على الأقل على 5 خانات
                            </span>
                            <span [hidden]="!editForm.controls.newPassword.errors?.maxlength">
                                كلمة المرور يجب ان لا تزيد عن 50 خانة.
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>


                <mat-form-field appearance="outline" class="col-12 col-md-6 mt-2 mt-md-0">
                    <mat-label>
                        تأكيد كلمة المرور
                    </mat-label>
                    <input [(ngModel)]="confirmPassword" autofilled="flase" [errorStateMatcher]='validatePasswordMatch'
                        matInput type="password" required name="confirmPassword">
                    <mat-error *ngIf="confirmPassword">
                        <span [hidden]="!editForm.controls.confirmPassword.errors?.required || !passwordConfirmed()">
                            هذا الحقل مطلوب
                        </span>
                        <span [hidden]="passwordConfirmed()">
                            تأكيد كلمة المرور يجب أن يطابق كلمة المرور
                        </span>
                    </mat-error>
                </mat-form-field>

            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="my-3" matLine>قوة كلمة المرور </div>
                    <mat-password-strength class="fill" [password]="registerAccount.password">
                    </mat-password-strength>
                </div>
            </div>

            <mat-divider class="my-4"></mat-divider>

            <div class="d-flex flex-row-reverse align-items-center">
                <button type="submit" mat-raised-button [disabled]="editForm.form.invalid || isLoading" color="primary">
                    حفظ
                </button>

            </div>

        </div>
    </form>

</div>
