<div class="entity-container">
    <div class=" ml-1 d-flex align-items-center">
        <button class="ml-1" mat-raised-button color="primary" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']" [routerLink]="['/banner/new']">
            <mat-icon>add</mat-icon>
            إضافة
        </button>
    </div>
    <br>
    <div class="row mt-3">
        <h4 class="col">الصور الرئيسية</h4>
    </div>

    <div class="col-12 p-0 mat-elevation-z1 round-card mt-3 white-bg"
         *ngIf="banners && banners.length; else emptyContent;">

        <div class="card-container mx-5">
            <mat-card class="round-card clickable mat-elevation-z1 d-flex flex-column" style="max-width: 300px"
                      *ngFor="let banner of banners">
                <img mat-card-image [src]="'/api/public/banners/image/'+banner.id" alt="banner image" [routerLink]="['/banner', banner.id, 'view' ]">
                <mat-card-content>
                    <span>{{banner.title}}</span>
                    <span>c</span>
                    <span>{{banner.storeName}}</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="['/banner', banner.id, 'edit']">
                        تعديل
                    </button>
                    <span class="m-2" style="border-right: solid #c7c7c7a9 1px;"></span>
                    <button mat-button color="warn" (click)="delete(banner.id)">
                        حذف
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <ng-template #emptyContent>
        <jhi-empty-content [isLoading]="false"></jhi-empty-content>
    </ng-template>
</div>
