<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="banner">
            <h2><span>Banner</span> {{banner.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{banner.title}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="banner.image">
                        <a (click)="openFile(banner.imageContentType, banner.image)">
                            <img [src]="'data:' + banner.imageContentType + ';base64,' + banner.image" style="max-width: 100%;" alt="banner image"/>
                        </a>
                        {{banner.imageContentType}}, {{byteSize(banner.image)}}
                    </div>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{banner.active}}</span>
                </dd>
                <dt><span>Store</span></dt>
                <dd>
                    <div *ngIf="banner.storeId">
                        <a [routerLink]="['/store', banner.storeId, 'view']">{{banner.storeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> رجوع</span>
            </button>

            <button type="button"
                    [routerLink]="['/banner', banner.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> تعديل</span>
            </button>
        </div>
    </div>
</div>
