<div class="body-height d-flex flex-column">

        <div class="m-auto">

             <div [hidden]="!errorMessage">
                  <h1> حدث خطأ ما!</h1>
                <div class="alert alert-danger">{{errorMessage}}
                </div>
            </div>

            <div [hidden]="!error403" class="alert alert-danger">ليس لديك صلاحية الوصول إلى هذه الصفحة.
            </div>

            <div [hidden]="!error404" class=" ">
                <mat-icon class="graphic-icon mt-4" svgIcon="error-404"></mat-icon>
                <div class="  text-center fill ">
                    <span>الصفحة المطلوبة غير موجودة</span>
                </div>
            </div>

        </div>
   
</div>
