<div class="wide-container">
    <div style="min-height: 400px" >
        <div class="row d-flex py-5 align-items-center main-container mx-auto h-100">
            <div class="col-12 text-sm-right col-sm-6 text-center">
                <h2 class="primary">مرحبا بك في Bridal</h2>
                <p></p>
                <h4 class="mr-1">قم بتسجيل الدخول أو تحميل التطبيق من الروابط بالأسفل</h4>
            </div>

            <div class="mt-4 d-flex col-12 col-sm-6">
<!--                <img class="mx-auto w-60" src="../../content/images/eidc.png">-->
            </div>
        </div>
    </div>

</div>
