<div class="mb-5 entity-container">
    <div class=" ml-1 d-flex align-items-center">
        <button class="ml-1" mat-raised-button color="primary" [routerLink]="['/reservation/new']">
            <mat-icon>add</mat-icon>
            إضافة
        </button>

        <form class="col-sm-8 col-lg-5">
            <mat-form-field class="mat-search-box" appearance="stander" floatLabel="never">
                <button mat-icon-button matPrefix type="submit" (click)="search(currentSearch)">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="بحث" matInput [(ngModel)]="currentSearch" name="currentSearch">

                <button color="warn" matSuffix mat-icon-button (click)="clear()" *ngIf="currentSearch">
                    <mat-icon>clear</mat-icon>
                </button>

            </mat-form-field>
        </form>

        <mat-form-field class="mr-auto" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <mat-label>اختر صالة الأفراح</mat-label>
            <mat-select  >
                <mat-option *ngFor="let hall of halls" [value]="hall.id" (onSelectionChange)="loadReservations($event,hall)">
                    {{hall.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="mr-auto" *jhiHasAnyAuthority="'ROLE_HALL'">
            <mat-label>اختر حالة الحجز</mat-label>
            <mat-select  >
                <mat-option value="" (onSelectionChange)="loadReservationsStatus($event,'')">الكل</mat-option>
                <mat-option value="PENDING" (onSelectionChange)="loadReservationsStatus($event,'PENDING')">حجز مبدئي</mat-option>
                <mat-option value="APPROVED" (onSelectionChange)="loadReservationsStatus($event,'APPROVED')">حجز مؤكد</mat-option>
                <mat-option value="CANCELED_BY_HALL" (onSelectionChange)="loadReservationsStatus($event,'CANCELED_BY_HALL')">ملغي</mat-option>

            </mat-select>
        </mat-form-field>
    </div>

    <div class="col p-0 mt-3 min-width mat-elevation-z0 round-card"
         *ngIf="reservations && reservations.length; else emptyContent;">
        <mat-progress-bar *ngIf="isLoading" class="round-50 mt-2 fill" mode="indeterminate"></mat-progress-bar>

        <table class="col mat-table" matSort (matSortChange)="sortData($event)">
            <thead>
            <tr>
                <th mat-sort-header="id"><span>ر.ح</span></th>
                <th mat-sort-header="createdDate"><span>تاريخ الحجز</span></th>
                <th mat-sort-header="reservationDate"><span>تاريخ المناسبة</span></th>
                <th *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']" mat-sort-header="hallName"><span>الصالة</span></th>
                <th mat-sort-header="reservationStatus"><span>الحالة</span></th>
                <th mat-sort-header="total"><span>الاجمالي</span></th>
                <th mat-sort-header="userLogin"><span>الزبون</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of reservations ;trackBy: trackId">
                <td><a [routerLink]="['/reservation', reservation.id, 'view' ]">{{reservation.id}}</a></td>
                <td>
                    {{reservation.createdDate | date: 'yyyy-MM-dd'}}
                </td>
                <td>
                    {{reservation.reservationDate | date: 'yyyy-MM-dd'}}
                </td>
                <td *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']">
                    <div *ngIf="reservation.hallId">
                        <a [routerLink]="['/hall', reservation.hallId , 'view' ]" >{{reservation.hallName}}</a>
                    </div>
                </td>
                <td>
                    <mat-chip-list >
                        <mat-chip color="{{reservation.reservationStatus | getColor}}" selected>{{reservation.reservationStatus | translateMe}}</mat-chip>
                    </mat-chip-list>
                </td>
                <td>{{reservation.total }} د.ل </td>
                <td>
                    {{reservation.userLogin == null ? reservation.customerName : reservation.userLogin}}
                </td>

                <td class="text-left">
                    <div>

                        <mat-menu #appMenu="matMenu" overlapTrigger="false" xPosition="before">
                            <button type="submit" [routerLink]="['/reservation', reservation.id, 'view' ]" mat-menu-item>
                                <mat-icon class="ml-2">remove_red_eye</mat-icon>
                                عرض
                            </button>
                            <button *ngIf="reservation.reservationStatus == 'PENDING'"
                                    [queryParams]="{ reservationId: reservation.id }"
                                    [routerLink]="['/invoice/pay']"
                                    type="button" mat-menu-item>
                                <mat-icon class="ml-2">done_outline</mat-icon>
                                تأكيد الحجز وادخال سند قبض
                            </button>
                            <button *ngIf="reservation.reservationStatus == 'PENDING'"
                                    (click)="cancel(reservation)"
                                    type="button" mat-menu-item>
                                <mat-icon class="ml-2">edit</mat-icon>
                                الغاء
                            </button>
                            <button *ngIf="reservation.reservationStatus == 'APPROVED'"
                                    [queryParams]="{ reservationId: reservation.id }"
                                    [routerLink]="['/invoice/new']"
                                    type="button" mat-menu-item>
                                <mat-icon class="ml-2">add</mat-icon>
                                اضافة سند قبض جديد
                            </button>
                            <button mat-menu-item [routerLink]="['/reservation', reservation.id, 'edit']">
                                <mat-icon class="ml-2">edit</mat-icon>
                                تعديل
                            </button>
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-menu-item (click)="delete(reservation)" >
                                <mat-icon class="ml-2">delete</mat-icon>
                                حذف
                            </button>
                        </mat-menu>
                        <button mat-icon-button
                                [matMenuTriggerFor]="appMenu" class="ml-1">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 15, 25]" [pageIndex]="page" (page)="loadPage($event)" showFirstLastButtons></mat-paginator>

    </div>
    <ng-template #emptyContent>
        <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
    </ng-template>
</div>
