<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="reservation">

            <div class="d-flex align-items-center ml-4 mt-2">
                <h2><span>رقم الحجز</span> {{reservation.id}}</h2>
                <button class="mr-auto" color="primary" mat-stroked-button [useExistingCss]="true" printSectionId="print-section" ngxPrint>
                    <mat-icon color="primary">print</mat-icon>
                    طباعة الحجز
                </button>
            </div>
            <jhi-alert-error></jhi-alert-error>

            <div id="print-section" >

                <br>
                <br>
                <h4>بيانات الزبون</h4>
                <div class="row detail-row mt-3">
                    <div  *ngIf="reservation.customerName" class="col">
                        <div class="text-muted">اسم الزبون</div>
                        <h6 matLine >{{ reservation.customerName }}</h6>
                    </div>
                    <div  *ngIf="reservation.customerPhone" class="col">
                        <div class="text-muted">رقم هاتف الزبون</div>
                        <h6 matLine >{{ reservation.customerPhone }}</h6>
                    </div>
                    <div *ngIf="reservation.userFirstName" class="col">
                        <div class="text-muted">اسم الزبون المسجل بالتطبيق</div>
                        <h6 matLine >{{reservation.userFirstName }}</h6>
                    </div>
                    <div *ngIf="reservation.userPhone" class="col">
                        <div class="text-muted">رقم هاتف الزبون المسجل بالتطبيق</div>
                        <h6 matLine >{{ reservation.userPhone }}</h6>
                    </div>
                    <div *ngIf="reservation.userLogin" class="col">
                        <div class="text-muted">اسم المستخدم</div>
                        <h6 matLine >
                            <a [routerLink]="['/admin/user-management', reservation.userLogin ,'view']">{{ reservation.userLogin }}</a>
                        </h6>
                    </div>
                </div>

                <div class="row detail-row mt-3">
                    <div class="col-4">
                        <div class="text-muted">الزبون</div>
                        <h6 matLine >{{reservation.userId != null ? reservation.userLogin : reservation.customerName+' / '+ reservation.customerPhone }}</h6>
                    </div>
                    <div class="col-4">
                        <div class="text-muted">عدد الحضور</div>
                        <h6 matLine>{{reservation.attendeesNo }}</h6>
                    </div>
                    <div class="col-4">
                        <div class="text-muted">نوع الحضور</div>
                        <h6 matLine>{{reservation.attendeesType | translateMe}}</h6>
                    </div>
                </div>

                <div class="row detail-row mt-3">
                    <div class="col-4">
                        <div class="text-muted">القاعة</div>
                        <div *ngIf="reservation.roomId">
                            <a [routerLink]="['/room', reservation.roomId, 'view']">{{reservation.roomName}}</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="text-muted">المناسبة</div>
                        <div *ngIf="reservation.typeId">
                            <a [routerLink]="['/type', reservation.typeId, 'view']">{{reservation.typeName}}</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="text-muted">الملاحظات</div>
                        <h6>{{reservation.notes}}</h6>
                    </div>
                </div>


                <div class="row detail-row mt-3">
                    <div class="col-4">
                        <div class="text-muted">تاريخ المناسبة</div>
                        <h6 matLine>{{reservation.reservationDate | date:'yyyy-MM-dd'}} </h6>
                    </div>
                    <div class="col-4">
                        <div class="text-muted">رقم الحجز</div>
                        <h6 matLine>{{reservation.id }}</h6>
                    </div>
                    <div class="col-4">
                        <div class="text-muted">حالة الحجز</div>
                        <h6 matLine >{{reservation.reservationStatus | translateMe }}</h6>
                    </div>
                </div>

                <div class="row  mt-3">
                    <div class="col-4">
                        <div class="text-muted">الاجمالي</div>
                        <h6 >{{reservation.total}} د.ل </h6>
                    </div>
                    <div class="col-4">
                        <div class="text-success">المدفوع</div>
                        <h6 class="text-success" >{{getTotalPayed(reservation)}} د.ل </h6>
                    </div>
                    <div class="col-4">
                        <div class="text-danger">المتبقي</div>
                        <h6 class="text-danger"  >{{getTotalLeft(reservation)}} د.ل </h6>
                    </div>
                </div>
                <br>
                <br>
                <h4><span>الاضافات</span></h4>
                <br>
                <div *ngIf="reservation.extras && reservation.extras.length > 0; else emptyContent"
                     class="col-12 p-0 mat-elevation-z1 mt-2">
                    <table class="col mat-table ">
                        <thead>
                        <tr>
                            <th ><span>الاسم</span></th>
                            <th ><span>السعر</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let extra of reservation.extras;">
                            <td>{{extra.name}}</td>
                            <td>{{extra.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row mt-2">
                    <div class="col-4">
                        <div class="text-muted">اجمالي الاضافات</div>
                        <h6>{{reservation.extrasTotal}} د.ل </h6>
                    </div>
                </div>
                <br>
                <br>
                <h4><span>سندات القبض</span></h4>
                <div class="d-flex align-items-center ml-4 mt-2">
                    <button *ngIf="reservation.reservationStatus == 'APPROVED'"
                            [queryParams]="{ reservationId: reservation.id }"
                            [routerLink]="['/invoice/new']"
                            type="button" class="mr-auto" color="primary" mat-stroked-button>
                        <mat-icon class="ml-2">add</mat-icon>
                        اضافة سند قبض جديد
                    </button>
                </div>

                <br>

                <div *ngIf="reservation.invoices && reservation.invoices.length > 0; else emptyContent"
                     class="col-12 p-0 mat-elevation-z1 mt-3"
                     id="entities">
                    <table class="col mat-table ">
                        <thead>
                        <tr>
                            <th ><span>ر.ت</span></th>
                            <th ><span>التاريخ</span></th>
                            <th ><span>النوع</span></th>
                            <th ><span>الاجمالي</span></th>
                            <th ><span>التفاصيل</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let invoice of reservation.invoices ;">
                            <td><a [routerLink]="['/invoice', invoice.id, 'view' ]">{{invoice.id}}</a></td>
                            <td>{{invoice.invoiceDate | date: 'yyyy-MM-dd'}}</td>
                            <td>
                                <mat-chip-list >
                                    <mat-chip color="{{invoice.invoiceType | getColor}}" selected>{{invoice.invoiceType | translateMe}}</mat-chip>
                                </mat-chip-list>
                            </td>
                            <td>{{invoice.amount }} د.ل </td>
                            <td>{{invoice.details}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <ng-template #emptyContent>
                <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
            </ng-template>

            <br>
        </div>
        <div class="d-flex flex-row-reverse row mt-2 ml-2">
            <button (click)="previousState()" mat-button type="submit">
                رجوع
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
        </div>
        <br>
    </div>
</div>
