<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-reservation-heading">حجز جديد</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">#</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_attendeesType">نوع الحضور</label>
                    <select required class="form-control" name="attendeesType" formControlName="attendeesType" id="field_attendeesType">
                        <option value="MEN">رجال</option>
                        <option value="WOMEN">نساء</option>
                        <option value="ALL">الكل</option>
                    </select>
                    <div *ngIf="editForm.get('attendeesType').invalid && (editForm.get('attendeesType').dirty || editForm.get('attendeesType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('attendeesType').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div hidden class="form-group">
                    <label class="form-control-label" for="field_reservationStatus">حالة الحجز</label>
                    <select class="form-control" name="reservationStatus" formControlName="reservationStatus" id="field_reservationStatus">
                        <option value="APPROVED">حجز مؤكد</option>
<!--                        <option value="DONE">حجز منتهي</option>-->
                        <option value="CANCELED_BY_HALL">حجز ملغي</option>
                    </select>
                    <div *ngIf="editForm.get('reservationStatus').invalid && (editForm.get('reservationStatus').dirty || editForm.get('reservationStatus').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('reservationStatus').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div  class="form-group">
                    <label class="form-control-label" for="field_attendeesNo">عدد الحضور المتوقع</label>
                    <input required type="number" class="form-control" name="attendeesNo" id="field_attendeesNo"
                           formControlName="attendeesNo"/>
                    <div *ngIf="editForm.get('attendeesNo').invalid && (editForm.get('attendeesNo').dirty || editForm.get('attendeesNo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('attendeesNo').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('attendeesNo')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
<!--                <div  class="form-group">-->
<!--                    <label class="form-control-label" for="field_total">اجمالي القيمة</label>-->
<!--                    <input type="number" class="form-control" name="total" id="field_total"-->
<!--                           formControlName="total"/>-->
<!--                    <div *ngIf="editForm.get('total').invalid && (editForm.get('total').dirty || editForm.get('total').touched)">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="editForm.get('total').errors.required">-->
<!--                        This field is required.-->
<!--                        </small>-->
<!--                        <small class="form-text text-danger"-->
<!--                            [hidden]="!editForm.get('total')?.errors?.number">-->
<!--                            This field should be a number.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
                <div  class="form-group">
                    <label class="form-control-label" for="field_customer_name">اسم الزبون</label>
                    <input required type="text" class="form-control" name="customerName" id="field_customer_name"
                           formControlName="customerName"/>
                </div>

                <div  class="form-group">
                    <label class="form-control-label" for="field_customer_phone">رقم هاتف الزبون</label>
                    <input required type="text" class="form-control" name="customerPhone" id="field_customer_phone"
                           formControlName="customerPhone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_notes">ملاحظات</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>



                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
                    <label class="form-control-label" for="field_hall">الصالة</label>
                    <select class="form-control" id="field_hall" name="hall" formControlName="hallId">
                        <option *ngIf="!editForm.get('hallId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="hallOption.id" *ngFor="let hallOption of halls; trackBy: trackHallById">{{hallOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('hallId').invalid && (editForm.get('hallId').dirty || editForm.get('hallId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('hallId').errors.required">
                        This field is required.
                    </small>
                </div>

<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="field_period">الفترة</label>-->
<!--                    <select class="form-control" name="period" formControlName="period" id="field_period">-->
<!--                        <option value="MORNING">الفترة الصباحية</option>-->
<!--                        <option value="EVENING">الفترة المسائية</option>-->
<!--                        <option value="FULL_DAY">يوم كامل</option>-->
<!--                    </select>-->
<!--                    <div *ngIf="editForm.get('period').invalid && (editForm.get('period').dirty || editForm.get('period').touched)">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="editForm.get('period').errors.required">-->
<!--                            This field is required.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="form-group">
                    <label class="form-control-label" for="field_type">نوع المناسبة</label>
                    <select class="form-control" id="field_type" name="type" formControlName="typeId">
                        <option *ngIf="!editForm.get('typeId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="typeOption.id" *ngFor="let typeOption of types; trackBy: trackTypeById">{{typeOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('typeId').invalid && (editForm.get('typeId').dirty || editForm.get('typeId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('typeId').errors.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_room">القاعة</label>
                    <select class="form-control" id="field_room" name="room" formControlName="roomId">
                        <option *ngIf="!editForm.get('roomId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="roomOption.id" *ngFor="let roomOption of rooms; trackBy: trackRoomById">{{roomOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('roomId').invalid && (editForm.get('roomId').dirty || editForm.get('roomId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('roomId').errors.required">
                        This field is required.
                    </small>
                </div>
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="field_user">User</label>-->
<!--                    <select class="form-control" id="field_user" name="user" formControlName="userId">-->
<!--                        <option *ngIf="!editForm.get('userId').value" [ngValue]="null" selected></option>-->
<!--                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div *ngIf="editForm.get('userId').invalid && (editForm.get('userId').dirty || editForm.get('userId').touched)">-->
<!--                    <small class="form-text text-danger"-->
<!--                           *ngIf="editForm.get('userId').errors.required">-->
<!--                        This field is required.-->
<!--                    </small>-->
<!--                </div>-->

                <mat-form-field appearance="standard" class="col-12">
                    <mat-label>
                        الاضافات
                    </mat-label>
                    <mat-select multiple name="extras" formControlName="extras" >
                        <mat-option *ngFor="let extraOption of extras; trackBy: trackExtraById" [value]="getSelected(editForm.get('extras').value, extraOption)">
                            {{extraOption.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="row">
                    <mat-form-field appearance="standard" class="col">
                        <input id="field_reservationDate" name="reservationDate" formControlName="reservationDate" required matInput [matDatepicker]="picker" placeholder="تاريخ الحجز">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('reservationDate').errors">
                            تاريخ غير صالح !
                        </small>
                    </mat-form-field>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>الغاء</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>حفظ</span>
                </button>
            </div>
        </form>
    </div>
</div>
