<div class="entity-container">
    <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
        <div *ngIf="extra">
            <h2><span> الاضافة </span> {{extra.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>الاسم</span></dt>
                <dd>
                    <span>{{extra.name}}</span>
                </dd>
                <dt><span>السعر</span></dt>
                <dd>
                    <span>{{extra.price}}</span>
                </dd>
                <dt><span>متاح</span></dt>
                <dd>
                    <span>{{extra.active}}</span>
                </dd>
                <dt><span>الصالة</span></dt>
                <dd>
                    <div *ngIf="extra.hallId">
                        <a [routerLink]="['/hall', extra.hallId, 'view']">{{extra.hallName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> رجوع</span>
            </button>

            <button type="button"
                    [routerLink]="['/extra', extra.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> تعديل</span>
            </button>
        </div>
    </div>
</div>
