<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hallImage">
            <h2><span>Hall Image</span> {{hallImage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="hallImage.image">
                        <a (click)="openFile(hallImage.imageContentType, hallImage.image)">
                            <img [src]="'data:' + hallImage.imageContentType + ';base64,' + hallImage.image" style="max-width: 100%;" alt="hallImage image"/>
                        </a>
                        {{hallImage.imageContentType}}, {{byteSize(hallImage.image)}}
                    </div>
                </dd>
                <dt><span>Hall</span></dt>
                <dd>
                    <div *ngIf="hallImage.hallId">
                        <a [routerLink]="['/hall', hallImage.hallId, 'view']">{{hallImage.hallId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> رجوع</span>
            </button>

            <button type="button"
                    [routerLink]="['/hall-image', hallImage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> تعديل</span>
            </button>
        </div>
    </div>
</div>
