@import 'bootstrap-variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr.css';
@import 'material-theme.scss';
@import '~angular-calendar/css/angular-calendar.css';

// @import '~ngx-toastr/toastr-bs4-alert.sass';

/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
  @if $side== 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}

@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
  width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */

* {
  font-family: 'Droid Arabic Kufi';
  outline: none !important;
}

.mat-menu-item {
  font-family: 'Droid Arabic Kufi';
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

html {
  height: 100%;
  padding: 0px;
}

body {
  height: 100%;
  overflow: auto;
  // min-width: 800px !important;
}

.wide-container {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  min-height: calc(100vh - 200px);
}

.entity-container {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  min-height: calc(100vh - 64px);
}

@media (max-width: 768px) {
  .wide-container {
    margin-top: 200px;
  }

  .entity-container {
    margin-top: 220px;
  }
}

.main-container {
  max-width: 1100px !important;
  width: 100%;
}

.mat-expansion-row {
  margin-bottom: 1px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.fill {
  width: 100%;
}

.fill-flex {
  flex: 0 0 100%;
}

.fill-vh {
  height: 100vh;
}

.m-auto {
  margin: auto;
}

.white-bg {
  background-color: white;
}

.gray-b {
  background-color: rgb(247, 247, 247);
}

.white {
  color: white !important;
}

.hidden {
  visibility: hidden;
}

.show td:last-child div {
  visibility: visible;
}

.active {
  color: 5c6bc0;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.detail-row {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.4em;
  padding-bottom: 0.4em;

  div:first-child {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }
}

// * {
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

.center-cropped-uploader {
  object-fit: cover;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  width: 280px;
  height: 180px;
  opacity: 0.65;
  position: absolute;
  border-radius: 8px;
}

.center-cropped-card {
  object-fit: cover;
  /* Do not scale the image */
  object-position: center;
  height: 180px;
  height: 280px;
  /* Center the image within the element */
  position: absolute;
  border-radius: 2px;
}

.uploader-border {
  width: 280px;
  height: 180px;
  background: #e7e7e7;
  position: relative;
  border-radius: 8px;
}

.center-cropped {
  object-fit: cover;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.center-cropped-fill {
  object-fit: cover;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  width: 100%;

  height: 400px;
  border-radius: 8px;
}

.img-logo {
  width: auto;
  height: 120px;
}

.img-logo-toolbar {
  width: auto;
  height: 80px;
}

.ellipsis {
  max-width: 300px;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// html editor customization

angular-editor {
  #fontSelector-,
  #subscript-,
  #superscript-,
  #backgroundColorPicker-,
  #foregroundColorPicker-,
  #toggleEditorMode-,
  .block-label,
  .select-font-size,
  #fontSizeSelector- {
    display: none;
  }

  .angular-editor-toolbar.div:nth-child(0) {
    display: none;
  }
}

.sub-text {
  color: #a0a0a0;
  font-size: 12px;
}

.body-height {
  min-height: 100vh;
}

.card-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 1rem;
}

.card-container-small {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1rem;
  align-items: stretch;
}

.status-open {
  border-radius: 8px;
  font-size: 12px;
  padding: 4px 15px 3px 15px;
  border: solid 1px #a0e64f;
  color: #a0e64f;
}

.status-closed {
  border-radius: 8px;
  font-size: 12px;
  padding: 4px 15px 3px 15px;
  border: solid 1px #ec7878;
  color: #ec7878;
}

.on-card-hover :hover {
  cursor: pointer;
}

.clickable :hover {
  cursor: pointer;
}

agm-map {
  height: 300px;
  width: 100%;
}
