@import '~@angular/material/theming';
// Include non-theme styles for core.
@include mat-core();
// Define a theme.
$primary: mat-palette($mat-red, 200);
$accent: mat-palette($mat-yellow, 800);
$warn: mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);

//$mat-light-theme-foreground: (
//  dark-primary-text:            white,
//  dark-secondary-text:            white,
//);
//$my-app-theme-custom: map-merge($theme, (foreground: $mat-light-theme-foreground));


// Include all theme styles for the components.
@include angular-material-theme($theme);
$borderRadius: 20px;

.primary-light {
  color: map-get($primary, 50);
}

.warn {
  color: map-get($warn, 400);
}

.primary {
  color: map-get($primary, 200);
}

.primary-bg {
  background-color: map-get($primary, 500);
}

.accent-bg {
  background-color: map-get($accent, 300);
}

.primary-bg-300 {
  background-color: map-get($primary, 300);
}

.round-card {
  border-radius: 8px !important;
}

.round-50 {
  border-radius: 50px;
}

.mat-icon-button {
  color: #0000008a;
}

.mat-elevation-z {
  box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.mat-search-box {
  width: 280px;

  .mat-form-field-flex {
    align-items: center;
    background-color: #eeeeeea2;
    border-radius: $borderRadius !important;
    padding: 0;
    border-radius: 0.3em;
  }

  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-prefix {
    margin-left: 0.7em;
    // background-color: #e0e0e096;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px eeeeeea2 inset;
    -webkit-box-shadow: 0 0 0 30px eeeeeea2 inset;
  }
}

.nav-search-box {
  .mat-form-field-flex {
    align-items: center;
    background-color: #ffffffd3;
    border-radius: 30px !important;
    padding: 0;
    height: 45px;
    border-radius: 0.3em;
  }

  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-prefix {
    margin-left: 0.7em;
    // background-color: #e0e0e096;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px eeeeeea2 inset;
    -webkit-box-shadow: 0 0 0 30px eeeeeea2 inset;
  }
}

.mat-table {
  tr {
    padding-left: 20px;
    border-bottom: 0.7px solid #e6e6e69a;

    th:first-child {
      padding-right: 20px;
    }

    // &:nth-child(even) {
    //     background-color: #0000000d;
    // }
  }

  th {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  thead {
    border-bottom: 1px solid #8f8f8fe3;
    background: #f5f5f5; // position: sticky; // top: 0;
    z-index: 10;
  }

  td {
    padding: 0.5em 0.3em;
  }

  tbody td:first-child {
    padding-right: 20px;
  }
}

.mat-button {
  border-radius: $borderRadius !important;

  .mat-icon {
    color: #0000008a;
    margin-left: 0.3em;
  }
}

.mat-list-item {
  .mat-icon {
    margin-left: 0.4em;
  }
}

.mat-raised-button {
  border-radius: $borderRadius !important;
}

.mat-stroked-button {
  border-radius: $borderRadius !important;

  .mat-icon {
    margin-left: 0.3em;
  }
}

.mat-menu-item {
  color: map-get($primary, 700);

  .mat-icon {
    color: map-get($primary, 700);
  }
}

mat-toolbar {
  .mat-button {
    min-width: inherit !important;
  }

  .mat-stroked-button {
    min-width: inherit !important;
    color: white;
  }
}

.mat-title {
  font-size: 20px;
  font-weight: 400;
}

.mat-menu-panel {
  border-radius: 8px !important;
}

.mat-paginator-range-label {
  word-spacing: 5px;
}

.active {
  color: map-get($map: $primary, $key: 700) !important;
  background-color: map-get($map: $primary, $key: 50) !important;
  border-radius: 12px;
}

// .mat-list-item:hover {
//     background-color: #b9b7b73b !important;
//     border-radius: 12px;
// }

.tooltip-popup {
  background-color: map-get($primary, 700);
  color: #ffffff;
  font-size: 14px;
}

.big-icon {
  width: 48px !important;
  height: 48px !important;
  font-size: 48px;
}

.small-icon {
  width: 14px !important;
  height: 14px !important;
  font-size: 14px;
}

.graphic-icon {
  width: auto !important;
  height: 400px !important;
  display: flex !important;
}

.icon-size-18 {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px;
}

.mat-drawer-container {
  background-color: #f8f8f8;
}

.mat-slide-toggle-content {
  font-family: 'Droid Arabic Kufi';
}

.remove-extra-space {
  .mat-form-field-wrapper {
    padding-bottom: 0px;
    padding: 0px;
  }

  .mat-checkbox-layout {
    margin: 0px;
  }
}

// mat-form-field {
//     .mat-form-field-infix {
//         padding-top: 8px !important;
//         padding-bottom: 4px !important;
//         border-top-width: 0px !important;
//         border-bottom-width: 0px !important;
//         margin-top: 8px !important;
//         margin-bottom: 8px !important;
//     }

//     .mat-form-field-suffix {
//         top: 10px !important;
//     }

//     .mat-select-arrow {
//         margin-top: 10px;
//     }

// }
