<div class="container-fluid entity-container">
    <div class="row h-100 align-items-center mx-3">
        <div class="round-card mt-2 mt-md-5 col-12 col-lg-6 col-md-8 mx-auto px-5 py-3 mat-elevation-z1 white-bg">

            <div class="row align-items-center">
                <mat-dialog-title class="mt-3 col" *ngIf="!authenticationError;else error">
                    <strong> تسجيل الدخول </strong>
                    <p matLine class="text-muted">الرجاء قم بإدخال بيانات حسابك للدخول.</p>
                </mat-dialog-title>

                <ng-template #error>
                    <mat-error class="mt-3 col">
                        <strong>فشل في عملية تسجيل الدخول!</strong>
                        <p class="mt-1" matLine>يرجى التأكد من إسم المتسخدم و كلمة المرور.</p>
                    </mat-error>
                </ng-template>

            </div>

            <form class="mt-3" role="form" (ngSubmit)="login()">
                <mat-form-field appearance="outline" class="fill">
                    <input required [(ngModel)]="username" matInput type="text" name="username" id="username"
                           placeholder="إسم المستخدم">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error>إسم المستخدم لايمكن أن يكون فارغا</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="fill mt-3">
                    <input required [(ngModel)]="password" matInput type="password" name="password" id="password"
                           placeholder="كلمة المرور">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-error>كلمة المرور لايمكن أن تكونة فارغة</mat-error>
                </mat-form-field>

                <div class="my-2 ml-2 d-flex flex-row align-items-center">
                    <button mat-raised-button type="submit" [disabled]="!username || !password || isAuthenticating"
                            color="primary">تسجيل الدخول</button>
                    <mat-checkbox class="mr-auto" [checked]="rememberMe">تذكرني</mat-checkbox>
                </div>

            </form>

<!--            <div class="d-flex my-4 flex-column align-items-center">-->
<!--                <span class="text-muted"> ــــــــــــــــــــــــــــــــــــــ <span>أو</span>-->
<!--                    ــــــــــــــــــــــــــــــــــــــ </span>-->
<!--            </div>-->


<!--            <div class="row">-->
<!--                <jhi-social class="col-12 col-md-6" provider="google"></jhi-social>-->
<!--                <jhi-social class="col-12 mt-3 col-md-6 mt-md-0" provider="facebook"></jhi-social>-->
<!--            </div>-->

<!--            <div class="d-flex mt-4">-->
<!--                <span class="mx-auto">-->
<!--                    <span>ليس لديك حساب؟ </span>-->
<!--                    <button mat-button color="primary" (click)="register()">التسجيل</button>-->
<!--                </span>-->
<!--            </div>-->
            <mat-progress-bar class="round-50 mt-2" *ngIf="isAuthenticating" mode="indeterminate"></mat-progress-bar>


        </div>

    </div>
</div>
